# *Merged Jupyter Notebook*

<hr><font color="green"><h1>from file: file_1</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Basics"></a>
## Basics

Let's start simple with some arithmetic... performing addition, subtraction on different datatype

# Perform some artithematic operation like addition, subtraction and multiplication of differetn data type

# How to add two integer, integer and a float, integer and character etc

In [ ]:
2 + 2

In [ ]:
2.0 + 2.5

# adding integer and float
If you add an integer to a decimal, you will get a floating point number.

In [ ]:
2 + 2.5

# Variables : Declare and use different types of variables, to know how values stored in the variables, and how the type is decide:

In [40]:
a = 4.0

In [41]:
a

4.0

# to check the type of variable

# Data tyes is assigned based on the values of the varibale,: create differetn variables with differetn values to check and then find the respective data type

In [42]:
type(a) # We can ask the variable for its type

float

# Multiple varible and multiple assignment
What do you think about not declaring variable explicitly?

In [43]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'abcd',12.01
print (e,f,g)

10 10 10
12 abcd 12.01

# How to check types of different variables

In [44]:

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

### Strings

# what are the multiples ways to create string
Now we will create some text strings, in a couple of ways.

In [45]:
s = 'hello'
ss="ok kkk"
#print s  #only works in Python2
print (s)  # works in Python2 and Python3
print(ss)
type(s)
#type(ss)

hello
ok kkk

str

In [46]:
s = "hello"
print (s)

hello

# Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [47]:
s = """hello
s
zab
i
st"""
s
ss= "hi\n good to \n see you \n in airport"

In [48]:
#print s
print (s)
print (ss)

hello
s
zab
i
st
hi
 good to
 see you
 in airport

# We can concatenate strings together, and we can also index specific characters in the string. Negative indices count from the end of the string.

# What are the differetn methods to creates string?

# Please Create differetn integer string, character string and string leterals

In [49]:
s = "hello " + 'SZABIST'
s

'hello SZABIST'

# How to use break statment

In [54]:
s[2]
for x in s:
   if x=="Z":
    break
print(x)

Z

# How to use continue statment

In [53]:
for x in s:
  # print(x)
  if x=='Z':
    continue
    print(x)

# how to access the last element/character in the string

In [55]:
s[-1]   # accessing the last element

'T'

# how to access the first character and any other character in the string

In [ ]:
s[0]

Slicing
-------

Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

As an example, let's extract elements 1 through 3:

# How to print first three character of the string?
# How to print last three character of the string?
# How to print different character in a string?
# How to check length of the string?

In [56]:
s= "Zaviyar"
s[:3] # 1 is included but 3 is excluded

'Zav'

In [57]:
z= range(10)
print(z[::2])

range(0, 10, 2)

In [58]:
s[:3]

'Zav'

In [59]:
s[-3:]

'yar'

In [60]:
len(s)

7

### String Operations

# How to split string into words/ list item

# Take a paragraph in form of a string, and split this paragraph so that each words looks like a list item e.g. String_list =['a', 'b',,,,,,,,,'n']

In [61]:
s= 'Zaviyar khattak'
s.split()

['Zaviyar', 'khattak']

# The split() method splits a string and returns a list of strings. 

str.split(separator, maxsplit), 
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at
    whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of
    splits.

In [63]:
txt = "hello, my name is Zaviyar, I am 6 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Zaviyar,', 'I', 'am', '6', 'years', 'old']

# Please practice the different variations of split method, i.e. provide different values to separator and maxsplit to show the effect

In [64]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))


# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))


# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

# Split the string, using comma, followed by a space, as a separator, a string may by in any form, like "apple#banana#cherry#orange"

in this case setting the maxsplit parameter to 1, will return a list with 2 elements! Rather using the comma, you can also use white space as a separtor

In [65]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Two important parameter for split (), separator, maxsplit, please practice with differetn values for both the parameters

In [66]:
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Using the split function, we can split the string into a list of words and this is the most generic and recommended method if one wished to accomplish this particular task. But the drawback is that it fails in cases the string contains punctuation marks.

# for example: 
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

the output is : ['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Since this punctuation mark could not be the part of a string, so your task is to provide a function or any other means to remove these punctuation mark after spliting.

# Hint #1: Importing the re library, and using the findall() of re

In [70]:
import re
test_string= "Programming,  is fun @# Oh, Really you mean it.!!!"
res = re.findall(r'\w+', test_string)
 
# printing result
#print ("The list of words is : " +  test_string(res))
res

['Programming', 'is', 'fun', 'Oh', 'Really', 'you', 'mean', 'it']

# Hint 2:  Method #2 : Using regex( findall() ) 
In the cases which contain all the special characters and punctuation marks, the conventional method of finding words in string using split can fail and hence requires regular expressions to perform this task. findall function returns the list after filtering the string and extracting words ignoring punctuation marks.

In [72]:
s.replace("Zaviyar", "Welcome")

'Programming,  is fun @# Oh, Really you mean it.!!!'

In [ ]:
s.upper()

# How to print a string in reverse order 
e.g Hello world to dlrow olleH

# practice with differetn string length, and combination

# Conversion of number and string
# How to convert string to a number?
# How to convert number to a string, practice different conversion

# For Practice

In [ ]:
Name = 'Data Science in Practice'
sent="Software Development = 1831"

**Excercise:**
Extract 'Science in Practice'
Extract 'cience in Prac'
Extract 'Software Development '

# How to find lenth of the sentense

# How to find lenth of the string

In [ ]:
len(Name)

**Excercise:**
Remove spaces from the above String 'Name'

# How to remove spaces from the string
Name: Muhammad Zaviyar Khattak 
After operation:  MuhammadZaviyarKhattak
After operation:  MuhammadmZaviyarmKhattak (inset m instead of space)

**Excercise:**
Convert the following string value into number and multiply that number by 10 ? strnumber = '234'

# joining two strings

# concatanating each character of second string with first string, e.g. str1= Zaviyar khattak, str2= by 

output: bZaviyar khattak yZaviyar khattak

# How to find index of substring in a string

# To check weather substring is present in the string or not

# The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

str= " '0000000  this is string example....wow!!!0000000' ";
result: '0000000  this is string example....wow!!!0000000'

Please perform some different operation by removing different character

# Removed Specific character from left and right of the string

# Home work
**Explore the following funciton of strings ** write 3-5 version of each function to enhance your skills

- lower()
- capitalize()
- endswith()
- join()
- strip()
- find()
- index()

use e.g. ?s.endswith

There are many other methods on strings, and Python's dir() function will list all the methods on an object:

[Back To The Table of Contents](#TOC)

<a id="PCDS"></a>
# Python Common Data Structures

- list
- set
- dictionary
- array
- tuple
- custom classes

There are four collection data types in the Python programming language:

    ****List is a collection which is ordered and changeable. Allows duplicate members.
    ***Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    ****Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    ****Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Lists
=====

List in Python are an ordered sequence of any kind

List Objects
------------

You create a list by putting square brackets around a comma-separated list of other Python items:

# How to create a list in paython?
# Create different list with different length, like list with 0 items, list with 1 item, ...... list with n items.

# how to repeate the list item, e.g. the list,  lst = [1, 2.0, 3, 'Zaviyar'] 

to the list  [1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

# How to add item to the existing list item, please explore different methods for adding list items to existing list

# how to print individual element of the list at different location, e.g. 3rd item of the list, second last item of the list

#### Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

# Using append function to insert list item, please use the append function to insert at different location

In [106]:
lst.append('Class')
lst

[1, 2.0, 3, 'Zaviyar', 'Class']

# How to delete list item, please delete the first item, any specific item and all list item

# Excercise: How to delete all item from the list

# how to check for an item in the list or not using "in" and "not in" operator, perform the same operation for finding any substring

In [109]:
1 in lst

True

In [110]:
2 in lst

False

In [111]:
2 not in lst

True

# How to extend list using append and extend function, find any difference between the function if any

# How to count frequency of the list item: using count function

# Deleteing list item using del keyword and remove function, as any difference between the two?
del list[2]

list.remove(2)

# Excersie: How to find maximum and minimum no in list

# Can we use maximum and minimum function of string of character? if yes! how?

# Excersie: How to add item in a specified index e.g. list=[1,2,4,5,6], the resultant list will be list= [1,2,4,'b',5,6]

# Excercise: in the list list= [ 1,2,4,5,6,5], I want to remove 5, whcih one will be removed

# How to print list item in reverse
list=[1,2,4,5,6]

output: [6, 5, 4, 2, 1]

# sorting listing in ascending order, how in desending?

- how we can show the method of lst and explore some of these
***** explore atleast 3-5 differetn version of each method
    - 'append'
    - 'count'
    - 'extend'
    - 'index'
    - 'insert'
    - 'pop'
    - 'remove'
    - 'reverse'
    - 'sort'

# zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# what will be the index of 'dog' in zoo list?
what will be the index of ['dog', 'bew'] in the zoo list.

# How to assign list item to a variable

In [138]:
animal= zoo[4]
animal

'sanday'

# Excercise: How to display ['zebra', ['dog', 'bew']] from the below list

['cat', 'bird', 'zebra', 'monkey', 'sanday', ['dog', 'bew']]

# How to dispaly random number from the below list
list = ['a','b','c','d'],

# How to join list items (string) ['ok','good','night','and', 'sweet','dreams'] 

to:  ok good night and sweet dreams

# Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

# What are the different methods to create dictionary, key and vlaues,

# How to find Frequency of character in a string, 
string='everythingisfinished' find frequency of e, i h

# Excersie: How to find frequency of each item in the list

list=[4,2,0,8,3,5,1,8,2,2,2]

# Excersie: How to find frequency of each item in the list

# How to find item frequency in a list
e.g.  list= ["a","b","b"]

out put:  [['b', 2], ['a', 1]],   means b occur 2 times, and a occurs 1 times

# Loop over your list and print all elements that are of size 3

mylist = [[1,2,3],[4,5,6,7],[8,9,10]]

practice by creating differetn list of list both in numbers and string to perform the loop operation

# How to combine list of list items

list = [[1,2],[3,4],[5,6]]

output: [1, 2, 3, 4, 6]

# Excercise: this is your list: my_list = ['p','r','o','g','r','a','m','i','z']

Please print: 1. Elements 3rd to 5th, 2. Elements beginning to 4th, 3. Elements 6th to end, 4. Elements beginning to end

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [179]:
print(range(15))

range(0, 15)

In [180]:
range(3,10,2)

range(3, 10, 2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
3
4
5

# Set
=====

Python also provides the `set` data structure, which can be created using curly brackets.

# Intersection, Union , symmetric difference of two sets

<hr><font color="green"><h1>from file: file_2</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

In [ ]:
my_list = ['p','r','o','g','r','a','m','i','z']
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])
#my_list

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [ ]:
print(range(15))

In [ ]:
range(3,10,2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
2
4
6
8
other list: 
3
4
5

In [ ]:
for i in range(2,10,2):
    list=[print(i)]
    list

# Set
=====
Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
****Unordered means that the items in a set do not have a defined order.****
    **Set items can appear in a different order every time you use them, and cannot be referred to by index or key.**
***Set items are unchangeable, meaning that we cannot change the items after the set has been created.**
    **Once a set is created, you cannot change its items, but you can remove items and add new items.**
    
**Duplicates Not Allowed**

Sets cannot have two items with the same value.
* Note: Set items are unchangeable, but you can remove items and add new items.

Python also provides the `set` data structure, which can be created using curly brackets.

# How to create sets of integer number and string

In [ ]:
a = {1, 2, 3, 4}
a

In [ ]:
 string_set= {"apple", "banana", "cherry"}
string_set

# Duplicate values will be ignored, create a set by duplicating some values

In [ ]:
string_set= {"apple", "banana", "cherry", 'apple'}
string_set

In [ ]:
a = {1, 2, 3, 4, 1}
a

# How Get the Length of a Set?

To determine how many items a set has, use the len() function.

In [ ]:
a = {1, 2, 3, 4, 1}
len(a)

# What is Set Items - Data Types? how to find the types of set ? Create 3 different sets of string, numbers and true false.

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False} 
#type(set1)
#type(set2)
type(set3)

# Can a set can contain different data types: e.g. set= {1, 'a', "kk", 3.4}
# set of mixed datatypes

In [ ]:
set1 = {"abc", 34, True, 40, "male", 3.4} 
set1

# What will be the output???????

In [ ]:
list={1,2,3,4,5,2,9,2,3,4}
list
len(list)
#type(list)

# duplicate item are removed, e.g. list={1,2,3,4,5,2,9,2,3,4} output= {1,2,3,4,5,9}

#### type(a)

In [ ]:
b = {2, 3, 4, 5}
b.add(3)
b

# How to add item in a set via add()

In [ ]:
a.add(10)
a

# Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.
We can do this with operators or methods.

# Intersection, Union , symmetric difference of two sets using opeartor, please perform on integer, character and string set

In [ ]:
a & b  # Intersection

In [ ]:
a | b # Union

In [ ]:
a ^ b # symmetric difference

In [ ]:
a - b

# All the above opeation using function

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# How to use union Method

In [ ]:
# use union function
 #A.union(B)
A.union(B)
# use union function on B
#B.union(A)

# How to use intersection method

In [ ]:
A.intersection(B)
# use intersection function on B
#B.intersection(A)

# How to use difference function

In [ ]:
# use difference function on A
A.difference(B)


# use - operator on B
#B - A


# use difference function on B
#B.difference(A)

# How to use symatric_difference function

In [ ]:
# use symmetric_difference function on A
A.symmetric_difference(B)

# use symmetric_difference function on B
#B.symmetric_difference(A)

# Exercise: set={1,2,'3','ad',"ok",(3,4,5)}, how many item will be there in the set, and will be length of the set

In [ ]:
set={1,2,'3','ad',"ok",(3,4,5)}
set

In [ ]:
len(set)

# Excercise: a={}, can we create this type of set ?How many item will be there in this set

In [ ]:
a={}
type(a)

# if you write set={}, remember that a dictionary will be created not a set , please practice it

# How to remove set item by discard(), practice it by using different sets

In [ ]:
a= {1,2,3,4,5}
a.discard(4)
a

# what will be the answer: a={1,2,3,4,5}     b={4,5,6,7,8}
#a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

# The set() Constructor

It is also possible to use the set() constructor to make a set.

# Home work, using the set () constructor , convert the following into set
numbers_list = [1, 2, 3, 4, 5, 5, 3, 2]

numbers_tuple = (1, 2, 3, 4, 5, 5, 4, 3)

numbers_dict = {1:'one',2:'two',3:'three'}

mystr = 'Hello World'

# Excercise: How to delete all item from the set?

In [ ]:
set1= {1,2,3,4}
#set1.clear()
set1

# poping item from set

In [ ]:
set1.pop()
set1

# Set Membership Test: how to test wheathe a member exist in the set or not

We can test if an item exists in a set or not, using the in keyword.

In [ ]:
set1={2,4,5,6,7,8}
print(4 in set1)

# we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

# Homework: Please perform the following operation on set
Important set operation

Method
					Description
			
add()
					Adds an element to the set
			
clear()
					Removes all elements from the set
			
copy()
					Returns a copy of the set
			
difference()
					Returns the difference of two or more sets as a new set
			
difference_update()
					Removes all elements of another set from this set
			
discard()
					Removes an element from the set if it is a member. (Do nothing if the element is not in set)
			
intersection()
					Returns the intersection of two sets as a new set
			
intersection_update()
					Updates the set with the intersection of itself and another
			
isdisjoint()
					Returns True if two sets have a null intersection
			
issubset()
					Returns True if another set contains this set
			
issuperset()
					Returns True if this set contains another set
			
pop()
					Removes and returns an arbitrary set element. Raises KeyError if the set is empty
			
remove()
					Removes an element from the set. If the element is not a member, raises a KeyError
			
symmetric_difference()
					Returns the symmetric difference of two sets as a new set
			
symmetric_difference_update()
					Updates a set with the symmetric difference of itself and another
			
union()
					Returns the union of sets in a new set
			
update()
					Updates the set with the union of itself and others


## Dictionaries
============

If you're familiar with the computer science "hash" or "map" data structures, a dictionary is essentially the Python equivalent of those.

For those unfamiliar with Python dictionaries, we can use an actual dictionary as a mental model.  In a dictionary you have words, and those words have definitions that are associated with them. You might have multiple definitions, but they are all associated with one word's entry in the dictionary.

This maps to the data structure very well: each entry is a key-value pair, where the keys are the words, and the values are the definitions.  If there are multiple definitions, you might instead have a list of definitions instead of a single definition for the value, but the idea is the same.

So in Python we can create an empty dictionary with a pair of braces (curly brackets):

# How to create simple dictionary, print the type of dictionary, length of dictionary

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
type(pets)

In [ ]:
len(pets)

In [ ]:
pets['dogs']

# How to add element to the dictionary

In [ ]:
animal={'loin':4,'dog':3,'flaw':2,'jaw':5}
#len(animal)
#type(animal)
#animal['flaw']
#animal['dog'] +=3
#animal['jaw']=33
animal['sa']=22
animal

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
pets['dogs'] += 2
pets

In [ ]:
pets['fox'] = 3
pets

In [ ]:
pets['dogs']= 4
pets

# What if we try to add a key value pair whose key is already present?

# You can ask for the list of keys, of key-value pairs, or just the values.

# How to print keys of the list or dictionary and values of the key

In [ ]:
pets.keys()

In [ ]:
pets.items()

In [ ]:
pets.values()

In [ ]:
a={'10':1,'20':2,'30':3,'40':4,'50':5}
a['60']=6
#a.keys()
#a.items()
#a.values()
#'20' in a
#2 not in a

In [ ]:
pets

# To find weather a key is present in dictionary or not

In [ ]:
'cats' in pets

In [ ]:
'cats' not in pets

In [ ]:
students={}

In [ ]:
type(students)

### Accessing items with `get()`

You can instead access values with the `get()` method which has a little more capability.  Get returns the value associated with a key, like indexing, but if the key doesn't exist it doesn't raise an error, but instead returns a default value `None`.

In [ ]:
#student['3']

In [ ]:
print (student.get('3'))

In [ ]:
students={}
students['1']="Zaviyar"
students["2"]='amir'
students['3']="khattak"
students["4"]='Rovaid'
students

In [ ]:
#students['5']
print(students.get('2','yes'))
#print(students.get('7','yes'))

# how we can show list of dictionary function??? please explore some of them

# We can have a dictionary inside a dictionary

In [ ]:
college = {'name': "COMSATS", "students":student}
college

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
x=thisdict['model']
print(x)
print(thisdict.get('year'))
thisdict["year"]= 2000
thisdict

In [ ]:
newdic= dict(brand1= 'ford' ,model='janpan',year='20000')
newdic

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.values()
car.get("model")
print(car["model"])

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#print(thisdict)
#for x in thisdict:
 #   print(thisdict[x])
    
#for x in thisdict.values():
 #   print(x)
for x,y in thisdict.items():
    print(x,y)
thisdict.pop("model")
thisdict
thisdict['model1']="yoho"
thisdict
thisdict.popitem()
thisdict

## Mathematical Operations
-----------------------
By now, we're pretty use to lists being the workhorse sequential data structure in Python. It's great for many things, but it turns out that another data structure, the NumPy array, provides a different set of functionality that is really useful -- especially for numeric computations.

Here we start with a list, and illustrate the difference in syntax for mathematical operations on a list and an array.

Imagine you want to add 1 to every element in a sequence. Here is a comparison between doing this with an array and a list.

Let's look at a list

In [ ]:
a = [1, 2, 3, 4]
a

If you add 1 to a list, you get an error because you can't add list and int types.

In [ ]:
#a+5
a.insert(2,8)
a

# How to add 1 to each element of the list

In [ ]:
a = [1, 2, 3, 4]
[x +1 for x in a]

This will work, but it is a bit cryptic to the uninitiated:

#### List Comprehension

In [ ]:
[val + 1 for val in a]

### Numpy - arrays
But if we convert `a` to a NumPy `array`, then it does work:

# How to convert a list into numpy array? please perform converting integer list, string list, mixed list into respective Numpy-array

In [ ]:
import numpy as np 
a = np.array(a)

In [ ]:
a

# Excercise: How to change the array element? e.g. if array= ([1, 2, 3, 4]) 
output: ([6, 7, 8, 9])

In [ ]:
a+5

This is the first thing that the array provides: when you perform a mathematical operation on an array, the operation is performed on every element of the array.  So the result is 1+5 is 6, 2+5 is 7, 3+5 is 8 and 4+5 is 9.

Operations on two Arrays
------------------------

NumPy always carries out element-by-element operations when operating on two arrays.  Here are several examples with `+`,`*`, and `**` operators.

Let's create another array `b`:

# How to create array

In [ ]:
b = np.array([2, 3, 4, 5])
b

# Creating two array a, b and then performing 
a+b
a*b
a**a
Operations on arrays
Note: Take array with different length

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
b=[3,4,5,6]
b=np.array(b)

In [ ]:
a
b

# Excercise: What will be the ouput?

In [ ]:
a+b
#a*b
#a**a

They both have 4 elements.  If we add a and b:

In [ ]:
a + b

then the operation is performed element-by-element: 1+2 is 3, 2+3 is 5, 3+4 is 7 and 4+5 is 9.

This doesn't just work for addition.  You can multiply:

In [ ]:
a*b

You can exponentiate:

In [ ]:
a**b

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
a

# How to find sum, standard deviation, mean of array element

In [ ]:
#np.sum(a)
#np.std(a)
#np.mean(a)
#np.argmax(a)

All operations are performed element-by-element.

In [ ]:
np.sum(a)

In [ ]:
np.std(a)

In [ ]:
np.mean(a)

# How to create 2-d array randomly within a fixed range and predifined rows and colums

In [ ]:
import numpy as np
np.random.seed(0)
x1= np.random.randint(10,size=(3,4))
x1

In [ ]:
import numpy as np
myarray=np.array([[1,2,3],[4,5,6]])
print(myarray)

In [ ]:
import numpy as np
np.zeros((3,4))
#np.ones((3,4))
#np.random.random((2,2))
#np.empty((2,3))
#np.full((2,3),3)
#np.arange(10,25,5)
#np.linspace(0,2,9)

In [ ]:
np.ones((3,4))

In [ ]:
np.random.random((2,2))

In [ ]:
np.empty((2,3))

In [ ]:
np.full((2,3),3)

# start, stop, step (excluding end point)

In [ ]:
np.arange(10,25,5)

# start , stop number of intervel to be genrated

In [ ]:
np.linspace(0,2,9)

# Reshaping the original array

In [ ]:
import numpy as np
a=np.arange(15).reshape(3,5)
a

In [ ]:
#a.shape
#a.dtype.name
#a.ndim # dimension
a.itemsize # length or one array element in bytes

# How to sum array element, find the maximum and minimum element in the array

In [ ]:
import numpy as np
a= np.arange(6)
a
a.sum()
a.min()
a.max()

In [ ]:
import numpy as np
b= np.arange(12).reshape(3,4)
b

In [ ]:
import numpy as np
c=np.arange(24).reshape(2,3,4)
c

In [ ]:
import numpy as np
a= np.array([1,2,3,4])
list=[3,4,5,6]
b=np.array(list)
a
b

In [ ]:
a+b

In [ ]:
(a+b).sum()

In [ ]:
a=np.arange(10)
a
b=np.arange(10)**3
b

In [ ]:
b[2:5]
b[:8]
b[-1]
b[:-2]
b[0:-5]

In [ ]:
b[:6]=100
b

In [ ]:
b[::-1]

In [ ]:
def f (x,y):
    return 10*x+y

b=np.fromfunction(f,(5,4))
b

#### Numpy arrays - more examples later

[Back To The Table of Contents](#TOC)

<hr><font color="green"><h1>from file: file_3</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Conditional_Statements"></a>
## Conditional Statements
-------------

### If statements

The simplest sort of way of controlling execution is to decide whether or not
a particular piece of code should be executed or not, based upon some
condition.  This could include:

* computing a particular value for a function in the special case e.g. where
  `x = 0`

* testing if an input is good, and only computing values if it is

* executing different pieces of code depending on a command string read from a file
  
In each of these cases, we execute the code *if* some condition holds, so the
statement in Python (and many other languages) that lets us do this is called the `if` statement.

In Python, `tab` is used as an indentation of block of code

The simplest form of the `if` statement looks like this:

In [108]:
x = 0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
else:
    print('try again')
    print('okkkk')
print('that s good')

Hey!
x is positive
that s good

In [109]:
if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

Hey!
x is positive
This is still part of the block
This isn't part of the block, and will always print.

In [110]:
x = -0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

This isn't part of the block, and will always print.

In [111]:
x = 0

if x > 0:
    print ("x is positive")
elif x == 0:
    print ("x is zero")
else:
    print ("x is negative")

x is zero

In [ ]:
# to check the elements in the list
mylist = [0, 1, 4, 1, 5, 9]
#mylist = []
if mylist:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

In [ ]:
if len(mylist) >= 1:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

Loops
=======

When programming, you want to be able to repeatedly execute chunks of code
without having to manually duplicate the code.  Being able to repeat a set of
instructions in a controlled manner is perhaps the most important function of any
sort of automation, and being able to write code to execute something a
million times as easily as writing code to execute something three times is
important.

Python implements a number of looping constructs, and in this lecture we'll
discuss the `while` loop and the `for` loop.

While loop
----------

The `while` loop is the simplest form of loop in Python.  It is similar to an `if`
statement, in that it evaluates a test which evaluates to `True` or `False`.
Unlike the `if` statement, however, a `while` statement doesn't just execute the following
block of code once, it executes it over and over, re-evaluating the test
before each repetition.  When the test evaluates to `False`, the loop will stop
executing, and execution will continue with the next section of code.  Just
like the `if` statement, indentation determines which lines of code are
associated with the `while` statement.

A simple example of a `while` loop might look something like this:

In [112]:
i = 0
total = 0
while i < 100:
    total += i
    i += 1
print (total)

4950

'For' loop
===

In [113]:
for i in range(5):
    print (i)

0
1
2
3
4

In [114]:
line = '1 2 3 4 5'
fields = line.split()
fields

['1', '2', '3', '4', '5']

In [115]:
fields = [1,2,3,4,5]
total = 0
for field in fields:
    total += field
total

15

In [116]:
fields = [1,2,3,4,5]
sum=0
for i in fields:
    sum= sum + i
print (sum)
avg= sum/len(fields)
avg

15

3.0

In [ ]:
#   Calcuate the average of above list ???

### List Comprehension

Python also has what is called a list comprehension, which is a compact way of writing many loops.

In [117]:
numbers = [int(kk) for kk in fields]
numbers

[1, 2, 3, 4, 5]

In [118]:
h_letter=[]
for letter in "Zaviyar Khattak":
    h_letter.append(letter)
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r', ' ', 'K', 'h', 'a', 't', 't', 'a', 'k']

In [119]:
h_letter=[letter for letter in 'Zaviyar']
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r']

In [120]:
lst = [10, 21, 4 , 7, 12]

[num*num for num in lst if num > 10]

[441, 144]

**Excercise:**
Calculate the Square of the lst1[10, 21, 4, 7, 12] greater than equal to 10  using list comprehension ?

In [ ]:
# To Do

### Break and Continue

Both for and while statements can have the flow modified with the `break` and
`continue` statements.

If execution hits a `continue` statement, then the execution will jump
immediately to the start of the next iteration of the loop.  This is useful if
you want to skip occasional values:

Lets print even elements from the given list

In [ ]:
values = [7, 6, 4, 7, 19, 2, 1]

for i in values:
    if i % 2 != 0:
        # skip odd numbers
        continue
    print (i)

Print the elements of the list until you encounter 'stop'.

In [ ]:
command_list = ['start', 'process', 'process', 'process', 'stop', 'start', 'process', 'stop']

while command_list:
    command = command_list.pop(0)
    if command == 'stop':
        break
    print(command)

[Back To The Table of Contents](#TOC)

<a id="Functions"></a>
# Functions
========

In [122]:
def add(x,y):
    """ Add two values"""
    a = x+y
    return a

In [123]:
print (add(2,3))

5

# Excersie: what will be the output

In [ ]:
print (add('a',2))

In [124]:
print (add('foo','bar'))

foobar

In [125]:
print (add([1,2,3],[4,5,6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
print (add('abc',1)) # if passed parameter which can't be added, it will return an exception

#### Function arguments with default values

In [126]:
def add_w_default(x, y = 10):
    return x+y

In [127]:
add_w_default(20)

30

In [128]:
add_w_default(20, 30)

50

In [129]:
add_w_default(y=20, x = 10)

30

It's an advanced concept that you will often encounter in production level libraries

- definition of kwargs

In [130]:
# A function can accept arbitrary keyword argument using the following syntax
def add(x, **kwargs):
    print (type(kwargs))
    total = x
    for arg,value in kwargs.items():
        print ('adding ', arg)
        total += value
    return total

In [131]:
print (add(10, y = 11, z = 12, w=13, p =11))

<class 'dict'>
adding  y
adding  z
adding  w
adding  p
57

In [132]:
# The following syntax accepts any number of positional and keyword arguments
def foo(*args, **kwargs):
    print (args, kwargs)

In [ ]:
foo(2,3, x='foo', z=10)

[Back To The Table of Contents](#TOC)

<a id="Classes"></a>
## Classes
=======

Now lets create a class. In Python, every class should derive from object. 
Our class will describe a person, with a name and an age. We will supply a constructor, and 
a method to get the full name.

# Create a Class

To create a class, use the keyword class:

In [133]:
class MyClass:
  x = 5

# Create Object

Now we can use the class named MyClass to create objects:

In [134]:
p1 = MyClass()
print(p1.x)

5

# The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

# Example

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person(object):
    def __init__(self, first, last, age):
        self.first = first
        self.last = last
        self.age = age
    
    def full_name(self):
        return self.first + ' ' + self.last

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Zaviyar", 7)

print(p1.name)
print(p1.age)

# Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

# The self Parameter

**Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

**The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

**It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

In [ ]:
class Man:
    def __init__(self, first, last, age):
        self.first=first
        self.last=last
        self.age=age
    def full_name(self):
        return self.first + ' ' + self.last + ' ' + self.age

In [ ]:
man= Man('khattak', ' Abrar', 44)
print(man.first)
print(man.age)

# Excersie:

**Modify Object Properties
**Delete Object Properties
**Delete Objects
**The pass Statement

Now we can create an instance of a Person, and work with the attributes of the class.

[Back To The Table of Contents](#TOC)

<a id="PGPT"></a>
# Python for General purpose task

python has many utility functions and libraries
including
os, os.path, time, shutil, urlib, datetime, etc.

In [135]:
import os
os.listdir(os.getcwd()) # Python method getcwd() returns current working directory of a process.
#os.listdir() # Python method listdir() returns a list containing the names of the entries in the directory given by path. The list is in arbitrary order.
#notebookfiles = [x for x in os.listdir(os.getcwd()) if x.endswith('.ipynb')]
#notebookfiles

#os.getcwd() # Python method getcwd() returns current working directory of a process. 
#os.chdir() #os.chdir() method in Python used to change the current working directory to specified path. It takes only a single argument as new directory path.

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '2. Majorit Class Overlapping .ipynb',
 '2.1 Intro_to_Python-stu.ipynb',
 '2.2 DA_With_Pandas.ipynb',
 '2.2 DA_With_Pandas_in_session.ipynb',
 '2.2 DA_With_Pandas_sol.ipynb',
 '2.3 Python-Plots.ipynb',
 '3.2 Practical-machine-learning.ipynb',
 '3.3 AdvML-Full.ipynb',
 '3D Objects',
 'Abalone.csv',
 'anaconda3',
 'AppData',
 'Application Data',
 'BSDS-Class-0.ipynb',
 'BSDS-Class-0C.ipynb',
 'BSDS-Class1.ipynb',
 'BSDS-Class1C.ipynb',
 'BSDS-Class_4 C.ipynb',
 'BSDS-Class_4.ipynb',
 'BSDS-Class_5C.ipynb',
 'BSDS-Class_6C.ipynb',
 'BSDS_Class_2.ipynb',
 'chipotle.tsv',
 "console.log('..............');.js",
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Empirical comparsion using Glass.ipynb',
 'Favorites',
 'imdb_1000.csv',
 'IntelGraphicsProfiles',
 'iris.csv',
 'iris_1.csv',
 'Iris_new.csv',
 'Links',
 'Local Settings',
 'MachineLearningInExcel.xlsx',
 'movieusers.tsv',
 'MS_Class_0.ipynb',
 'MS_Class_1.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Recoverd files',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Technicle discusion.ipynb',
 'Templates',
 'ufo.csv',
 'Videos']

In [ ]:
import time
time.sleep(3)
print ('sleep for seconds: 3 s')

In [ ]:
print (time.ctime())

In [ ]:
import urllib
#response = urllib.('http://python.org/')
#html = response.read()
import urllib.request
 
#html = urllib.request.urlopen('https://artifex.org/~hblanks/talks/2011/pep20_by_example.py.txt').read()
#print (html)

Now lets see how we can work with files in Python. We will start by creating a directory using some commands you can do in IPython.

In [136]:
cd ~

C:\Users\celll spot

In [137]:
mkdir demo_temp

In [138]:
cd demo_temp

C:\Users\celll spot\demo_temp

Now we will create a file, and write a couple of lines of data to it.

In [139]:
file = open('data.txt', 'w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

In [140]:
file= open("example.txt",'w')
file.write("this is line one\n")
file.write("this is line two\n")
file.write("this is line three\n")
file.writelines("this is line four\n")
file.writelines("this is line five\n")
file.close()

In [142]:
file= open("example.txt", "r")
#print(file.readline())
print(file.readlines(3))

['this is line one\n']

In [143]:
print(file.readlines())

['this is line two\n', 'this is line three\n', 'this is line four\n', 'this is line five\n']

In [144]:
file=open("example.txt",'w')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [145]:
file=open("example.txt",'w')

file.write("line 9\n")
file.write("line 10\n")
file.write("line 11\n")
file.close()

In [146]:
file=open("example.txt",'a+')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [148]:
file=open("example.txt","r")
#for val in file:
 #   print(val)
for row in file:
    print(row)

line 9

line 10

line 11

line 6

line 7

line 8

In [149]:
file= open('example.txt','w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

Now we can re-open the file, and do some processing on it.

In [150]:
file = open('data.txt')
data = []
for line in file:
    data.append([int(field) for field in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [151]:
file= open('example.txt')
data=[]
for line in file:
    data.append([int(d) for d in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [152]:
file=open("example.txt",'w')
file.write('1 2 3 4, 5\n')
file.write('2,3,4,5, 6\n')
file.close()

In [153]:
file= open('example.txt')
newdata=[]
for val in file:
    newdata.append([int(field) for field in val.split(',')])
print(newdata)

ValueError: invalid literal for int() with base 10: '1 2 3 4'

In [ ]:
for row in data:
    print (row)
    #print row

Now we will clean up this file.

In [ ]:
file.close()

In [ ]:
import os
os.remove('data.txt')

In [ ]:
cd ..

In [ ]:
os.rmdir('demo_temp')

Now we will take a look at modules. Python provides a whole host of built-in modules. We will explore the os module, which provides operating system information.

In [ ]:
import os
os.getpid() #os.getpid() method in Python is used to get the process ID of the current process.

In [ ]:
unique = []
file=open('test.txt', 'r')
s= file.read()
for w in s.split():
    unique.append(w)
print(unique)
len(unique)

In [ ]:
file= open('test.txt', 'r')
numwords=0
for line in file:
    words= line.split()
    numwords += len(words)
    print(words)
numwords
#print(words)

In [ ]:
coutn={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in coutn.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count = {}
for w in open('test.txt').read().split():
    if w in count:
        count[w] += 1
    else:
        count[w] = 1
for word, times in count.items():
    print ("%s was found %d times" % (word, times))

In [ ]:
file=open("test.txt","r+")

wordcount={}

for word in file.read().split():
    if word not in wordcount:
        wordcount[word] = 1
    else:
        wordcount[word] += 1

for k,v in wordcount.items():
    print (k, v)

In [ ]:
file= open('test.txt')
count=[]
s= file.read()
d=s.lower()
wordcount=0
for word in d.split():
    count.append(word)
print(len(count))

In [ ]:
count={}
file= open('test.txt')
s= file.read()
d=s.lower()
for word in d.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] = 1
    
#print(count)
#for k,v in count.items():
   # print(k,v)
#sorted(count.values())
#sorted(count.items(), key=lambda items:items[1])
new=[pair[0] for pair in sorted(count.items(), key=lambda items:items[1])]
nnew= ' '.join(new)
nnew

#[pair[0] for pair in sorted(d.items(), key=lambda item: item[1])]

file=open('freq.txt', 'w')
file.write(nnew)
file.close()
#list1.append(line.strip(','))

[Back To The Table of Contents](#TOC)

<a id="Excercises"></a>
# Excercises

<hr><font color="green"><h1>from file: BSDS-Class_4 C-027</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Basics"></a>
## Basics

Let's start simple with some arithmetic... performing addition, subtraction on different datatype

# Perform some artithematic operation like addition, subtraction and multiplication of differetn data type

# How to add two integer, integer and a float, integer and character etc

In [1]:
2 + 2

4

In [2]:
2.0 + 2.5

4.5

# adding integer and float
If you add an integer to a decimal, you will get a floating point number.

In [3]:
2 + 2.5

4.5

# Variables : Declare and use different types of variables, to know how values stored in the variables, and how the type is decide:

In [4]:
a = 4.0

In [5]:
a

4.0

# to check the type of variable

# Data tyes is assigned based on the values of the varibale,: create differetn variables with differetn values to check and then find the respective data type

In [6]:
type(a) # We can ask the variable for its type

float

# Multiple varible and multiple assignment
What do you think about not declaring variable explicitly?

In [7]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'abcd',12.01
print (e,f,g)

10 10 10
12 abcd 12.01

# How to check types of different variables

In [8]:

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

### Strings

# what are the multiples ways to create string
Now we will create some text strings, in a couple of ways.

In [9]:
s = 'hello'
ss="ok kkk"
sss = "Hello, \"I love python!\""
z = """Python Guides!!! """
#print s  #only works in Python2
print(s)  # works in Python2 and Python3
print(ss)
print(sss)
print(z)
type(z)
print('\n')
#type(ss)

hello
ok kkk
Hello, "I love python!"
Python Guides!!!

# String from List, dictionaries

In [10]:
# Lists
# string from list
# place1 = ['California', 'Chicago', 'Houston']
# value1 = ' '.join([str(element) for element in place1])
# print(value1)

print('\n')
# string concatenation
str1 =['Germany','France','Australia','England','Switzerland']
str2='\n'
print(str2.join(str1))

# Dictionaries

str = "{'John':30,'smith':20,'George':80}"
my_dict= eval(str)
print(my_dict)
print(my_dict['John'], ", ", my_dict['George'])

Germany
France
Australia
England
Switzerland
{'John': 30, 'smith': 20, 'George': 80}
30 ,  80

# String Slicing

In [11]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

# # Python String Operations

In [12]:
my_string = "this string will be deleted from memory"
print(my_string)
# uncomment below two lines to run it
# del my_string
# my_string 

str1 = 'Hello'
str2 ='World!'

# String Concatenation
# using +
print('str1 + str2 = ', str1 + str2)

# String duplication
# using *
print('str1 * 3 =', str1 * 3)

#Print two strings on same line
print(str1, end=" ") # space in end " " to add space between words
print(str2)
# more practical example below

# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == " "):
        print("", end=" ") # just to add space between words where it is in original string   
#     print(letter) # this will print each letter on new line, but lets print each letter on same line
    print(letter, end="")

    count += 1
print("\n") # to add new line as all previous letter were being printed on same line, so now to continue on next line i added this
print(count,'letters found')

# check if a word or char is in a string or not
print('a' in 'program')
print('john dow' not in 'john doe not a designer')

this string will be deleted from memory
str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello
Hello World!
Hello  World

11 letters found
True
True

# Python string format() method

In [13]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

# Common Python String Methods

In [14]:
print("PrOgRaMiZ".lower())

print("PrOgRaMiZ".upper())

# This will split all words into a list
print("This will split all words into a list".split()) 
#output -> ['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

# ' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])
print(' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']))
# output -> 'This will join all words into a string'

# find and replace in a string
print('Happy New Year'.find('ew'))
print('Happy New Year'.replace('Happy','Brilliant'))

programiz
PROGRAMIZ
['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']
This will join all words into a string
7
Brilliant New Year

# Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [15]:
s = """hello
s
zab
i
st"""
s
ss= "hi\n good to \n see you \n in airport"

In [16]:
#print s
print (s)
print (ss)

hello
s
zab
i
st
hi
 good to
 see you
 in airport

# We can concatenate strings together, and we can also index specific characters in the string. Negative indices count from the end of the string.

In [17]:
strr = "lets do Ds"
print(strr[-9])

e

# What are the differetn methods to creates string?

In [18]:
# discussed above

# Please Create differetn integer string, character string and string leterals

In [19]:
intStr = "23749237423874923"
charStr = "jksdhfksnvfowlcw"


s = "hello " + 'SZABIST'
s

'hello SZABIST'

# How to use break statment

In [20]:
s[2]
for x in s:
    if x=="Z":
        break
print(x)

i = 0
while True:
    if i == 10:
        break
    i = i + 1
print(i)

Z
10

# How to use continue statment

In [21]:
for x in s:
    print(x, end="")
    if x=='Z':
        continue



i = 0
while i < 100:
    i = i + 1
    if i == 10:
        continue
    
    print(i)

hello SZABIST1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# how to access the last element/character in the string

In [22]:
s[-1]   # accessing the last element

'T'

# how to access the first character and any other character in the string

In [23]:
s[0]

'h'

Slicing
-------

Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

As an example, let's extract elements 1 through 3:

In [24]:
# A String to Work on
let = "String_to_Work_on"
print(let)

String_to_Work_on

# How to print first three character of the string?

In [25]:
print(let[0:3])

Str

# How to print last three character of the string?

In [26]:
print(let[-3:])

_on

# How to print different character in a string?

In [27]:
# print chars at even indexes in string
print(let[0::2])

# print chars at indexes skipping 3 chars in string
print(let[0::3])

# print chars at odd indexes in string
for i, char in enumerate(let):
    if i % 2 == 1:
        print(char, end="")

Srn_oWr_n
Si__ro
tigt_oko

# How to check length of the string?

In [28]:
print(len(let))

17

In [29]:
s= "Zaviyar"
s[:3] # 1 is included but 3 is excluded

'Zav'

In [30]:
z= range(10)
print(z[::2])

range(0, 10, 2)

In [31]:
s[:3]

'Zav'

In [32]:
s[-3:]

'yar'

In [33]:
len(s)

7

### String Operations

# How to split string into words/ list item

In [34]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

y = txt.split(" ")
print(y)

z = txt.split("e")
print(z)

# do only certain amount of splits
y = txt.split(" ", 3)
print(y)

['hello', 'my name is Peter', 'I am 26 years old']
['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']
['h', 'llo, my nam', ' is P', 't', 'r, I am 26 y', 'ars old']
['hello,', 'my', 'name', 'is Peter, I am 26 years old']

# Take a paragraph in form of a string, and split this paragraph so that each words looks like a list item e.g. String_list =['a', 'b',,,,,,,,,'n']

In [35]:
para = "In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design."
# empty delimeter means split at space " "
splitPara1 = para.split()
print(splitPara1)

['In', 'publishing', 'and', 'graphic', 'design,', 'Lorem', 'ipsum', 'is', 'a', 'placeholder', 'text', 'commonly', 'used', 'to', 'demonstrate', 'the', 'visual', 'form', 'of', 'a', 'document', 'or', 'a', 'typeface', 'without', 'relying', 'on', 'meaningful', 'content.', 'Lorem', 'ipsum', 'may', 'be', 'used', 'as', 'a', 'placeholder', 'before', 'the', 'final', 'copy', 'is', 'available.', 'It', 'is', 'also', 'used', 'to', 'temporarily', 'replace', 'text', 'in', 'a', 'process', 'called', 'greeking,', 'which', 'allows', 'designers', 'to', 'consider', 'the', 'form', 'of', 'a', 'webpage', 'or', 'publication,', 'without', 'the', 'meaning', 'of', 'the', 'text', 'influencing', 'the', 'design.']

In [36]:
s= 'Zaviyar khattak'
s.split()

['Zaviyar', 'khattak']

# The split() method splits a string and returns a list of strings. 

str.split(separator, maxsplit), 
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at
    whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of
    splits.

In [37]:
txt = "hello, my name is Zaviyar, I am 6 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Zaviyar,', 'I', 'am', '6', 'years', 'old']

# Please practice the different variations of split method, i.e. provide different values to separator and maxsplit to show the effect

In [38]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))


# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))


# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

# Split the string, using comma, followed by a space, as a separator, a string may by in any form, like "apple#banana#cherry#orange"

in this case setting the maxsplit parameter to 1, will return a list with 2 elements! Rather using the comma, you can also use white space as a separtor

In [39]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Two important parameter for split (), separator, maxsplit, please practice with differetn values for both the parameters

In [40]:
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Using the split function, we can split the string into a list of words and this is the most generic and recommended method if one wished to accomplish this particular task. But the drawback is that it fails in cases the string contains punctuation marks.

# for example: 
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

the output is : ['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Since this punctuation mark could not be the part of a string, so your task is to provide a function or any other means to remove these punctuation mark after spliting.

# Hint #1: Importing the re library, and using the findall() of re 
# where "re" is short form of Regular Expressions

In [41]:
import re
test_string= "Programming,  is fun @# Oh, Really you mean it.!!!"
res = re.findall(r'\w+', test_string)
 
# printing result
res

['Programming', 'is', 'fun', 'Oh', 'Really', 'you', 'mean', 'it']

# Hint 2:  Method #2 : Using regex( findall() ) 
In the cases which contain all the special characters and punctuation marks, the conventional method of finding words in string using split can fail and hence requires regular expressions to perform this task. findall function returns the list after filtering the string and extracting words ignoring punctuation marks.

In [42]:
s.replace("Zaviyar", "Welcome")

'Programming,  is fun @# Oh, Really you mean it.!!!'

In [43]:
s.upper()

'PROGRAMMING,  IS FUN @# OH, REALLY YOU MEAN IT.!!!'

# How to print a string in reverse order 
e.g Hello world to dlrow olleH

In [44]:
s = "Hello world"
print(s[::-1])

dlrow olleH

# practice with different string length, and combination

In [45]:
s = "Hello world"
print(s[:2:-1]) # doing so skips first 3 chars

dlrow ol

# Conversion of number and string
# How to convert string to a number?
# How to convert number to a string, practice different conversion

In [46]:
s = "12345"
intS = int(s)
print(type(intS))

<class 'int'>

In [47]:
num = 10
strS = "% s" % num
print(type(strS))

<class 'str'>

# For Practice

In [48]:
Name = 'Data Science in Practice'
sent="Software Development = 1831"

indexOfS = Name.index("S")
indexOfc = Name.index("c")
print(Name[indexOfS:])
print(Name[indexOfc:])

s = "Software Development"
indexOfS = sent.index("S")
print(sent[indexOfS: len(s)])

Science in Practice
cience in Practice
Software Development

**Excercise:**
Extract 'Science in Practice'
Extract 'cience in Prac'
Extract 'Software Development '

# How to find lenth of the sentense

In [49]:
sentence = "Extract 'Science in Practice' Extract 'cience in Prac' Extract 'Software Development '"
print(len(sentence))

86

# How to find lenth of the string

In [50]:
len(Name)

24

**Excercise:**
Remove spaces from the above String 'Name'

# How to remove spaces from the string
Name: Muhammad Zaviyar Khattak 
After operation:  MuhammadZaviyarKhattak
After operation:  MuhammadmZaviyarmKhattak (inset m instead of space)

In [51]:
# removing spaces
name = "Muhammad Zaviyar Khattak"
print(name.replace(" ", ""))

# replacing spaces with lower case m
name = "Muhammad Zaviyar Khattak"
print(name.replace(" ", "m"))

MuhammadZaviyarKhattak
MuhammadmZaviyarmKhattak

# Excercise:  Convert the following string value into number and multiply that number by 10 ? strnumber = '234'

In [52]:
strnumber = '234'
num = int(strnumber)
print(num * 10)

2340

# joining two strings

In [53]:
fname = "Muhammad "
lname = "Saqib"

print(fname + lname)

Muhammad Saqib

# concatenating each character of second string with first string, e.g. str1= Zaviyar khattak, str2= by 

output: bZaviyar khattak yZaviyar khattak

In [54]:
fname = "Zaviyar khattak"
lname = "by"
res = ""
for char in lname:
    res += char + fname + " "

# print(fname.join(lname))
print(res)

bZaviyar khattak yZaviyar khattak

# How to find index of substring in a string

In [55]:
fname = "Zaviyar khattak"
indexofZaviyar = fname.index('Zaviyar')
print(indexofZaviyar)

0

# To check weather substring is present in the string or not

In [56]:
fname = "Zaviyar khattak"
print("avi" in fname)

True

# The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

str= " '0000000  this is string example....wow!!!0000000' ";
result: '0000000  this is string example....wow!!!0000000'

Please perform some different operation by removing different character

In [57]:
strr = " '0000000 this is string example....wow!!!0000000' "
print(strr.strip()) # removes leading trailing spaces
result = '0000000 this is string example....wow!!!0000000'

# more examples
string = """    geeks for geeks    """  
# prints the string by removing geeks
print(string.strip(' geeks')) # removes spaces as well as given text

print(string.strip('ee')) # removes given text

'0000000 this is string example....wow!!!0000000'
for
    geeks for geeks

# Removed Specific character from left and right of the string

# Home work
**Explore the following funciton of strings ** write 3-5 version of each function to enhance your skills

- lower()
- capitalize()
- endswith()
- join()
- strip()
- find()
- index()

use e.g. ?s.endswith

In [58]:
# already done above

There are many other methods on strings, and Python's dir() function will list all the methods on an object:

[Back To The Table of Contents](#TOC)

<a id="PCDS"></a>
# Python Common Data Structures

- list
- set
- dictionary
- array
- tuple
- custom classes

There are four collection data types in the Python programming language:

    ****List is a collection which is ordered and changeable. Allows duplicate members.
    ***Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    ****Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    ****Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Lists
=====

List in Python are an ordered sequence of any kind

List Objects
------------

You create a list by putting square brackets around a comma-separated list of other Python items:

# How to create a list in paython?
# Create different list with different length, like list with 0 items, list with 1 item, ...... list with n items.

In [59]:
# creating a list

empty = []
withOne = ["hi"]
items = ["mobile", "laptop", "headset"] # with n
fromStr = "hello world".split()

print(fromStr, ", ", type(fromStr))

['hello', 'world'] ,  <class 'list'>

# how to repeate the list item, e.g. the list,  lst = [1, 2.0, 3, 'Zaviyar'] 

to the list  [1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

In [60]:
lst = [1, 2.0, 3, 'Zaviyar']
print(lst * 3)

[1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

# How to add item to the existing list item, please explore different methods for adding list items to existing list

In [61]:
items.append("charger")
print(items)

items.append(["cable, desktop"])
print(items)

items.extend(["cable", "desktop"])
print(items)

# insert the mouse item to the list in before the laptop item
items.insert(1, "mouse")
print(items)

['mobile', 'laptop', 'headset', 'charger']
['mobile', 'laptop', 'headset', 'charger', ['cable, desktop']]
['mobile', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop']
['mobile', 'mouse', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop']

# how to print individual element of the list at different location, e.g. 3rd item of the list, second last item of the list

In [62]:
print(items[2])
print(items[-2])

laptop
cable

In [63]:
lst =  [1, 2.0, 3, 'Zaviyar']
lst

[1, 2.0, 3, 'Zaviyar']

In [64]:
lst * 3

[1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

#### Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

# Using append function to insert list item, please use the append function to insert at different location

In [65]:
# lst = lst + [7, 8] + [[1,2]]
items.append("toys")
items

# lst.append('Class')
# lst
# lst[2] = "new"
# lst

['mobile',
 'mouse',
 'laptop',
 'headset',
 'charger',
 ['cable, desktop'],
 'cable',
 'desktop',
 'toys']

# How to delete list item, please delete the first item, any specific item and all list item

In [66]:
# first item
items.remove('mouse') # will remove the specified value at its first occurance
print(items)

# specific item
del items[3]
print(items)

# first item
items.clear()
print(items)

['mobile', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop', 'toys']
['mobile', 'laptop', 'headset', ['cable, desktop'], 'cable', 'desktop', 'toys']
[]

# Excercise: How to delete all item from the list

In [67]:
del items # will remove from memory
items.clear() # this now will give erro

NameError: name 'items' is not defined

# how to check for an item in the list or not using "in" and "not in" operator, perform the same operation for finding any substring

In [71]:
items = ["mobile", "laptop", "headset"]
"mobile" in items

True

In [72]:
"computer" not in items

True

In [73]:
"com" in items

False

In [74]:
# finding substring in list
test_list = ['GeeksforGeeks', 'Geeky', 'Computers', 'Algorithms']
  
# printing original list 
print ("The original list is : %s " %test_list)
  
# initializing substring
subs = 'Geek'
  
# using re + search()
# to get string with substring 
res = [x for x in test_list if re.search(subs, x)]
print ("All strings with given substring are : %s " %res)

The original list is : ['GeeksforGeeks', 'Geeky', 'Computers', 'Algorithms']
All strings with given substring are : ['GeeksforGeeks', 'Geeky']

In [75]:
1 in lst

True

In [76]:
2 in lst

True

In [77]:
2 not in lst

False

# How to extend list using append and extend function, find any difference between the function if any

In [78]:
items.append(['amar', 9]) # append will add it as a single item
items

['mobile', 'laptop', 'headset', ['amar', 9]]

In [79]:
items.extend([9,8,4,'saqib']) # extend will add them all as separate items based on separation of comma
items

['mobile', 'laptop', 'headset', ['amar', 9], 9, 8, 4, 'saqib']

# How to count frequency of the list item: using count function

In [80]:
count = items.count(9) # will retur count of specified value in a list not list length
count

1

# Deleteing list item using del keyword and remove function, as any difference between the two?
del list[2]

list.remove(2)

In [81]:
del items[3] # will remove value at this index from memory
del items[5] # will remove value at this index from memory

# items.remove(9) # will remove given value from list, will throw error if value not in list
items

['mobile', 'laptop', 'headset', 9, 8, 'saqib']

# Excersie: How to find maximum and minimum no in list

# Can we use maximum and minimum function of string of character? if yes! how?

In [82]:
# list should have all values of same type
list = [1,2,3,4,5]
print(max(list))
print(min(list))

str = ["hee", "akd", "skdjfjs"]

# finds on the basis of 1st ascii char index
print(max(str))
print(min(str))

5
1
skdjfjs
akd

# Excersie: How to add item in a specified index e.g. list=[1,2,4,5,6], the resultant list will be list= [1,2,4,'b',5,6]

In [83]:
items.insert(2, 'b')
items

['mobile', 'laptop', 'b', 'headset', 9, 8, 'saqib']

# Excercise: in the list list= [ 1,2,4,5,6,5], I want to remove 5, whcih one will be removed

In [84]:
list = [1,2,3,5,4,5]
list.remove(5)
list

[1, 2, 3, 4, 5]

# How to print list item in reverse
list=[1,2,4,5,6]

output: [6, 5, 4, 2, 1]

In [85]:
items.reverse()
items

['saqib', 8, 9, 'headset', 'b', 'laptop', 'mobile']

# sorting listing in ascending order, how in desending?

In [86]:
list=[1,2,4,6, 5,6]
list.sort()
list

[1, 2, 4, 5, 6, 6]

# Sort based on length

In [87]:
words = ["aaaa", "a", "tttt", "aa"]
print(sorted(words, key=len))

['a', 'aa', 'aaaa', 'tttt']

# Sort a Dictionary

In [88]:
engineers = [
    {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

# using custom function for sorting different types of data.
def get_engineer_age(engineers):
    return engineers.get('age')

engineers.sort(key=get_engineer_age)
print(engineers)

# output
[
    {'name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}
]

[{'name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

[{'name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [89]:
list.pop() # removes at last
list.pop(2) # removes given value

4

# Sort CHar list

In [90]:
chars = ["z", "y", "o", "b", "a"]
print(sorted(chars))  

chars = ["z", "y", "o", "a", "b"]
print(sorted(chars, reverse=True))

['a', 'b', 'o', 'y', 'z']
['z', 'y', 'o', 'b', 'a']

- how we can show the method of lst and explore some of these
***** explore atleast 3-5 differetn version of each method
    - 'append'
    - 'count'
    - 'extend'
    - 'index'
    - 'insert'
    - 'pop'
    - 'remove'
    - 'reverse'
    - 'sort'

# zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# what will be the index of 'dog' in zoo list?
what will be the index of ['dog', 'bew'] in the zoo list.

In [91]:
zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# index of dog 
# print(zoo.index('dog')) # if not in list will give error
print(zoo.index(['dog','bew']))

5

# How to assign list item to a variable

In [92]:
animal= zoo[4]
animal

'sanday'

# Excercise: How to display ['zebra', ['dog', 'bew']] from the below list

['cat', 'bird', 'zebra', 'monkey', 'sanday', ['dog', 'bew']]

In [93]:
print(zoo[zoo.index('zebra')] , ", ", zoo[zoo.index(['dog','bew'])])
print(zoo[2::3])

zebra ,  ['dog', 'bew']
['zebra', ['dog', 'bew']]

# How to dispaly random number from the below list
list = ['a','b','c','d'],

In [94]:
import random
print(random.choice(items))

b

# How to join list items (string) ['ok','good','night','and', 'sweet','dreams'] 

to:  ok good night and sweet dreams

In [95]:
list = ['ok','good','night','and', 'sweet','dreams']
joined = ' '.join(list)
print(joined)

ok good night and sweet dreams

# Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

In [96]:
# Creating a Dictionary with Integer Keys
dict = {
    1: 'Geeks', 
    2: 'For', 
    3: 'Geeks'
}

# with mixed key values
dict1 = {
    'Name': 'Geeks', 
    1: [1, 2, 3, 4]
}
print(dict)
print(dict1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

# What are the different methods to create dictionary, key and vlaues,

In [97]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
 
# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
 
# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

# Accessing Values
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'], '\n')
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict[1], '\n')

Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}
 
# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}
Accessing a element using key:
For

Accessing a element using key:
Geeks

{1: 'Geeks'}
Geeks
For

# Dictionary Methods

In [98]:
# demo for all dictionary methods
dict1={1:"Python",2:"Java",3:"Ruby",4:"Scala"}
#copy() method

dict2=dict1.copy()
print(dict2)

#clear() method
dict1.clear()
print(dict1)

#get() method
print(dict2.get(1))

#items() method
print(dict2.items())

#keys() method
print(dict2.keys())

#pop() method
dict2.pop(4)
print(dict2)

#popitem() method
dict2.popitem()
print(dict2)

#update() method
dict2.update({3:"Scala"})
print(dict2)

# values() method
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

# How to find Frequency of character in a string, 
string='everythingisfinished' find frequency of e, i h

In [99]:
from collections import Counter
# using collections.Counter() to get
# count of each element in string 

# initializing string 
test_str = "everythingisfinished"
res = Counter(test_str)
print(res)
print("e: ", res['e'])
print("i: ", res['i'])
print("h: ", res['h'])

Counter({'i': 4, 'e': 3, 'h': 2, 'n': 2, 's': 2, 'v': 1, 'r': 1, 'y': 1, 't': 1, 'g': 1, 'f': 1, 'd': 1})
e:  3
i:  4
h:  2

# Excersie: How to find frequency of each item in the list

list=[4,2,0,8,3,5,1,8,2,2,2]

In [100]:
from collections import Counter
# using collections.Counter() to get
# count of each element in string 

# initializing string 
# test_str = "everythingisfinished"
list=[4,2,0,8,3,5,1,8,2,2,2]
res = Counter(list)
print(res)

Counter({2: 4, 8: 2, 4: 1, 0: 1, 3: 1, 5: 1, 1: 1})

# How to find item frequency in a list
e.g.  list= ["a","b","b"]

out put:  [['b', 2], ['a', 1]],   means b occur 2 times, and a occurs 1 times

In [101]:
list= ["a","b","b"]
print(Counter(list))

Counter({'b': 2, 'a': 1})

# Loop over your list and print all elements that are of size 3

mylist = [[1,2,3],[4,5,6,7],[8,9,10]]

practice by creating differetn list of list both in numbers and string to perform the loop operation

In [102]:
mylist = [[1,2,3],[4,5,6,7],[8,9,10]]
for item in mylist:
    if len(item) == 3:
        print(item)

[1, 2, 3]
[8, 9, 10]

# How to combine list of list items

list = [[1,2],[3,4],[5,6]]

output: [1, 2, 3, 4, 5, 6]

In [103]:
from nltk import flatten

list = [[1,2],[3,4],[5,6]]
flattened_list = flatten(list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

# Excercise: this is your list: my_list = ['p','r','o','g','r','a','m','i','z']

Please print: 1. Elements 3rd to 5th, 2. Elements beginning to 4th, 3. Elements 6th to end, 4. Elements beginning to end

In [104]:
mylist = ['p','r','o','g','r','a','m','i','z']
print(mylist)
print(mylist[3:5])
print(mylist[0:4])
print(mylist[6:])

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']
['g', 'r']
['p', 'r', 'o', 'g']
['m', 'i', 'z']

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [105]:
print(range(15))

range(0, 15)

In [106]:
range(3,10,2)

range(3, 10, 2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
3
4
5

In [107]:
list = range(0, 8, 2)
list

range(0, 8, 2)

# The End

<hr><font color="green"><h1>from file: baseFile</h1></font>

# *Merged Jupyter Notebook*

<hr><font color="green"><h1>from file: file_1</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Basics"></a>
## Basics

Let's start simple with some arithmetic... performing addition, subtraction on different datatype

# Perform some artithematic operation like addition, subtraction and multiplication of differetn data type

# How to add two integer, integer and a float, integer and character etc

In [ ]:
2 + 2

In [ ]:
2.0 + 2.5

# adding integer and float
If you add an integer to a decimal, you will get a floating point number.

In [ ]:
2 + 2.5

# Variables : Declare and use different types of variables, to know how values stored in the variables, and how the type is decide:

In [40]:
a = 4.0

In [41]:
a

4.0

# to check the type of variable

# Data tyes is assigned based on the values of the varibale,: create differetn variables with differetn values to check and then find the respective data type

In [42]:
type(a) # We can ask the variable for its type

float

# Multiple varible and multiple assignment
What do you think about not declaring variable explicitly?

In [43]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'abcd',12.01
print (e,f,g)

10 10 10
12 abcd 12.01

# How to check types of different variables

In [44]:

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

### Strings

# what are the multiples ways to create string
Now we will create some text strings, in a couple of ways.

In [45]:
s = 'hello'
ss="ok kkk"
#print s  #only works in Python2
print (s)  # works in Python2 and Python3
print(ss)
type(s)
#type(ss)

hello
ok kkk

str

In [46]:
s = "hello"
print (s)

hello

# Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [47]:
s = """hello
s
zab
i
st"""
s
ss= "hi\n good to \n see you \n in airport"

In [48]:
#print s
print (s)
print (ss)

hello
s
zab
i
st
hi
 good to
 see you
 in airport

# We can concatenate strings together, and we can also index specific characters in the string. Negative indices count from the end of the string.

# What are the differetn methods to creates string?

# Please Create differetn integer string, character string and string leterals

In [49]:
s = "hello " + 'SZABIST'
s

'hello SZABIST'

# How to use break statment

In [54]:
s[2]
for x in s:
   if x=="Z":
    break
print(x)

Z

# How to use continue statment

In [53]:
for x in s:
  # print(x)
  if x=='Z':
    continue
    print(x)

# how to access the last element/character in the string

In [55]:
s[-1]   # accessing the last element

'T'

# how to access the first character and any other character in the string

In [ ]:
s[0]

Slicing
-------

Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

As an example, let's extract elements 1 through 3:

# How to print first three character of the string?
# How to print last three character of the string?
# How to print different character in a string?
# How to check length of the string?

In [56]:
s= "Zaviyar"
s[:3] # 1 is included but 3 is excluded

'Zav'

In [57]:
z= range(10)
print(z[::2])

range(0, 10, 2)

In [58]:
s[:3]

'Zav'

In [59]:
s[-3:]

'yar'

In [60]:
len(s)

7

### String Operations

# How to split string into words/ list item

# Take a paragraph in form of a string, and split this paragraph so that each words looks like a list item e.g. String_list =['a', 'b',,,,,,,,,'n']

In [61]:
s= 'Zaviyar khattak'
s.split()

['Zaviyar', 'khattak']

# The split() method splits a string and returns a list of strings. 

str.split(separator, maxsplit), 
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at
    whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of
    splits.

In [63]:
txt = "hello, my name is Zaviyar, I am 6 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Zaviyar,', 'I', 'am', '6', 'years', 'old']

# Please practice the different variations of split method, i.e. provide different values to separator and maxsplit to show the effect

In [64]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))


# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))


# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

# Split the string, using comma, followed by a space, as a separator, a string may by in any form, like "apple#banana#cherry#orange"

in this case setting the maxsplit parameter to 1, will return a list with 2 elements! Rather using the comma, you can also use white space as a separtor

In [65]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Two important parameter for split (), separator, maxsplit, please practice with differetn values for both the parameters

In [66]:
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Using the split function, we can split the string into a list of words and this is the most generic and recommended method if one wished to accomplish this particular task. But the drawback is that it fails in cases the string contains punctuation marks.

# for example: 
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

the output is : ['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Since this punctuation mark could not be the part of a string, so your task is to provide a function or any other means to remove these punctuation mark after spliting.

# Hint #1: Importing the re library, and using the findall() of re

In [70]:
import re
test_string= "Programming,  is fun @# Oh, Really you mean it.!!!"
res = re.findall(r'\w+', test_string)
 
# printing result
#print ("The list of words is : " +  test_string(res))
res

['Programming', 'is', 'fun', 'Oh', 'Really', 'you', 'mean', 'it']

# Hint 2:  Method #2 : Using regex( findall() ) 
In the cases which contain all the special characters and punctuation marks, the conventional method of finding words in string using split can fail and hence requires regular expressions to perform this task. findall function returns the list after filtering the string and extracting words ignoring punctuation marks.

In [72]:
s.replace("Zaviyar", "Welcome")

'Programming,  is fun @# Oh, Really you mean it.!!!'

In [ ]:
s.upper()

# How to print a string in reverse order 
e.g Hello world to dlrow olleH

# practice with differetn string length, and combination

# Conversion of number and string
# How to convert string to a number?
# How to convert number to a string, practice different conversion

# For Practice

In [ ]:
Name = 'Data Science in Practice'
sent="Software Development = 1831"

**Excercise:**
Extract 'Science in Practice'
Extract 'cience in Prac'
Extract 'Software Development '

# How to find lenth of the sentense

# How to find lenth of the string

In [ ]:
len(Name)

**Excercise:**
Remove spaces from the above String 'Name'

# How to remove spaces from the string
Name: Muhammad Zaviyar Khattak 
After operation:  MuhammadZaviyarKhattak
After operation:  MuhammadmZaviyarmKhattak (inset m instead of space)

**Excercise:**
Convert the following string value into number and multiply that number by 10 ? strnumber = '234'

# joining two strings

# concatanating each character of second string with first string, e.g. str1= Zaviyar khattak, str2= by 

output: bZaviyar khattak yZaviyar khattak

# How to find index of substring in a string

# To check weather substring is present in the string or not

# The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

str= " '0000000  this is string example....wow!!!0000000' ";
result: '0000000  this is string example....wow!!!0000000'

Please perform some different operation by removing different character

# Removed Specific character from left and right of the string

# Home work
**Explore the following funciton of strings ** write 3-5 version of each function to enhance your skills

- lower()
- capitalize()
- endswith()
- join()
- strip()
- find()
- index()

use e.g. ?s.endswith

There are many other methods on strings, and Python's dir() function will list all the methods on an object:

[Back To The Table of Contents](#TOC)

<a id="PCDS"></a>
# Python Common Data Structures

- list
- set
- dictionary
- array
- tuple
- custom classes

There are four collection data types in the Python programming language:

    ****List is a collection which is ordered and changeable. Allows duplicate members.
    ***Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    ****Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    ****Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Lists
=====

List in Python are an ordered sequence of any kind

List Objects
------------

You create a list by putting square brackets around a comma-separated list of other Python items:

# How to create a list in paython?
# Create different list with different length, like list with 0 items, list with 1 item, ...... list with n items.

# how to repeate the list item, e.g. the list,  lst = [1, 2.0, 3, 'Zaviyar'] 

to the list  [1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

# How to add item to the existing list item, please explore different methods for adding list items to existing list

# how to print individual element of the list at different location, e.g. 3rd item of the list, second last item of the list

#### Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

# Using append function to insert list item, please use the append function to insert at different location

In [106]:
lst.append('Class')
lst

[1, 2.0, 3, 'Zaviyar', 'Class']

# How to delete list item, please delete the first item, any specific item and all list item

# Excercise: How to delete all item from the list

# how to check for an item in the list or not using "in" and "not in" operator, perform the same operation for finding any substring

In [109]:
1 in lst

True

In [110]:
2 in lst

False

In [111]:
2 not in lst

True

# How to extend list using append and extend function, find any difference between the function if any

# How to count frequency of the list item: using count function

# Deleteing list item using del keyword and remove function, as any difference between the two?
del list[2]

list.remove(2)

# Excersie: How to find maximum and minimum no in list

# Can we use maximum and minimum function of string of character? if yes! how?

# Excersie: How to add item in a specified index e.g. list=[1,2,4,5,6], the resultant list will be list= [1,2,4,'b',5,6]

# Excercise: in the list list= [ 1,2,4,5,6,5], I want to remove 5, whcih one will be removed

# How to print list item in reverse
list=[1,2,4,5,6]

output: [6, 5, 4, 2, 1]

# sorting listing in ascending order, how in desending?

- how we can show the method of lst and explore some of these
***** explore atleast 3-5 differetn version of each method
    - 'append'
    - 'count'
    - 'extend'
    - 'index'
    - 'insert'
    - 'pop'
    - 'remove'
    - 'reverse'
    - 'sort'

# zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# what will be the index of 'dog' in zoo list?
what will be the index of ['dog', 'bew'] in the zoo list.

# How to assign list item to a variable

In [138]:
animal= zoo[4]
animal

'sanday'

# Excercise: How to display ['zebra', ['dog', 'bew']] from the below list

['cat', 'bird', 'zebra', 'monkey', 'sanday', ['dog', 'bew']]

# How to dispaly random number from the below list
list = ['a','b','c','d'],

# How to join list items (string) ['ok','good','night','and', 'sweet','dreams'] 

to:  ok good night and sweet dreams

# Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

# What are the different methods to create dictionary, key and vlaues,

# How to find Frequency of character in a string, 
string='everythingisfinished' find frequency of e, i h

# Excersie: How to find frequency of each item in the list

list=[4,2,0,8,3,5,1,8,2,2,2]

# Excersie: How to find frequency of each item in the list

# How to find item frequency in a list
e.g.  list= ["a","b","b"]

out put:  [['b', 2], ['a', 1]],   means b occur 2 times, and a occurs 1 times

# Loop over your list and print all elements that are of size 3

mylist = [[1,2,3],[4,5,6,7],[8,9,10]]

practice by creating differetn list of list both in numbers and string to perform the loop operation

# How to combine list of list items

list = [[1,2],[3,4],[5,6]]

output: [1, 2, 3, 4, 6]

# Excercise: this is your list: my_list = ['p','r','o','g','r','a','m','i','z']

Please print: 1. Elements 3rd to 5th, 2. Elements beginning to 4th, 3. Elements 6th to end, 4. Elements beginning to end

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [179]:
print(range(15))

range(0, 15)

In [180]:
range(3,10,2)

range(3, 10, 2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
3
4
5

# Set
=====

Python also provides the `set` data structure, which can be created using curly brackets.

# Intersection, Union , symmetric difference of two sets

<hr><font color="green"><h1>from file: file_2</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

In [ ]:
my_list = ['p','r','o','g','r','a','m','i','z']
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])
#my_list

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [ ]:
print(range(15))

In [ ]:
range(3,10,2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
2
4
6
8
other list: 
3
4
5

In [ ]:
for i in range(2,10,2):
    list=[print(i)]
    list

# Set
=====
Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
****Unordered means that the items in a set do not have a defined order.****
    **Set items can appear in a different order every time you use them, and cannot be referred to by index or key.**
***Set items are unchangeable, meaning that we cannot change the items after the set has been created.**
    **Once a set is created, you cannot change its items, but you can remove items and add new items.**
    
**Duplicates Not Allowed**

Sets cannot have two items with the same value.
* Note: Set items are unchangeable, but you can remove items and add new items.

Python also provides the `set` data structure, which can be created using curly brackets.

# How to create sets of integer number and string

In [ ]:
a = {1, 2, 3, 4}
a

In [ ]:
 string_set= {"apple", "banana", "cherry"}
string_set

# Duplicate values will be ignored, create a set by duplicating some values

In [ ]:
string_set= {"apple", "banana", "cherry", 'apple'}
string_set

In [ ]:
a = {1, 2, 3, 4, 1}
a

# How Get the Length of a Set?

To determine how many items a set has, use the len() function.

In [ ]:
a = {1, 2, 3, 4, 1}
len(a)

# What is Set Items - Data Types? how to find the types of set ? Create 3 different sets of string, numbers and true false.

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False} 
#type(set1)
#type(set2)
type(set3)

# Can a set can contain different data types: e.g. set= {1, 'a', "kk", 3.4}
# set of mixed datatypes

In [ ]:
set1 = {"abc", 34, True, 40, "male", 3.4} 
set1

# What will be the output???????

In [ ]:
list={1,2,3,4,5,2,9,2,3,4}
list
len(list)
#type(list)

# duplicate item are removed, e.g. list={1,2,3,4,5,2,9,2,3,4} output= {1,2,3,4,5,9}

#### type(a)

In [ ]:
b = {2, 3, 4, 5}
b.add(3)
b

# How to add item in a set via add()

In [ ]:
a.add(10)
a

# Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.
We can do this with operators or methods.

# Intersection, Union , symmetric difference of two sets using opeartor, please perform on integer, character and string set

In [ ]:
a & b  # Intersection

In [ ]:
a | b # Union

In [ ]:
a ^ b # symmetric difference

In [ ]:
a - b

# All the above opeation using function

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# How to use union Method

In [ ]:
# use union function
 #A.union(B)
A.union(B)
# use union function on B
#B.union(A)

# How to use intersection method

In [ ]:
A.intersection(B)
# use intersection function on B
#B.intersection(A)

# How to use difference function

In [ ]:
# use difference function on A
A.difference(B)


# use - operator on B
#B - A


# use difference function on B
#B.difference(A)

# How to use symatric_difference function

In [ ]:
# use symmetric_difference function on A
A.symmetric_difference(B)

# use symmetric_difference function on B
#B.symmetric_difference(A)

# Exercise: set={1,2,'3','ad',"ok",(3,4,5)}, how many item will be there in the set, and will be length of the set

In [ ]:
set={1,2,'3','ad',"ok",(3,4,5)}
set

In [ ]:
len(set)

# Excercise: a={}, can we create this type of set ?How many item will be there in this set

In [ ]:
a={}
type(a)

# if you write set={}, remember that a dictionary will be created not a set , please practice it

# How to remove set item by discard(), practice it by using different sets

In [ ]:
a= {1,2,3,4,5}
a.discard(4)
a

# what will be the answer: a={1,2,3,4,5}     b={4,5,6,7,8}
#a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

# The set() Constructor

It is also possible to use the set() constructor to make a set.

# Home work, using the set () constructor , convert the following into set
numbers_list = [1, 2, 3, 4, 5, 5, 3, 2]

numbers_tuple = (1, 2, 3, 4, 5, 5, 4, 3)

numbers_dict = {1:'one',2:'two',3:'three'}

mystr = 'Hello World'

# Excercise: How to delete all item from the set?

In [ ]:
set1= {1,2,3,4}
#set1.clear()
set1

# poping item from set

In [ ]:
set1.pop()
set1

# Set Membership Test: how to test wheathe a member exist in the set or not

We can test if an item exists in a set or not, using the in keyword.

In [ ]:
set1={2,4,5,6,7,8}
print(4 in set1)

# we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

# Homework: Please perform the following operation on set
Important set operation

Method
					Description
			
add()
					Adds an element to the set
			
clear()
					Removes all elements from the set
			
copy()
					Returns a copy of the set
			
difference()
					Returns the difference of two or more sets as a new set
			
difference_update()
					Removes all elements of another set from this set
			
discard()
					Removes an element from the set if it is a member. (Do nothing if the element is not in set)
			
intersection()
					Returns the intersection of two sets as a new set
			
intersection_update()
					Updates the set with the intersection of itself and another
			
isdisjoint()
					Returns True if two sets have a null intersection
			
issubset()
					Returns True if another set contains this set
			
issuperset()
					Returns True if this set contains another set
			
pop()
					Removes and returns an arbitrary set element. Raises KeyError if the set is empty
			
remove()
					Removes an element from the set. If the element is not a member, raises a KeyError
			
symmetric_difference()
					Returns the symmetric difference of two sets as a new set
			
symmetric_difference_update()
					Updates a set with the symmetric difference of itself and another
			
union()
					Returns the union of sets in a new set
			
update()
					Updates the set with the union of itself and others


## Dictionaries
============

If you're familiar with the computer science "hash" or "map" data structures, a dictionary is essentially the Python equivalent of those.

For those unfamiliar with Python dictionaries, we can use an actual dictionary as a mental model.  In a dictionary you have words, and those words have definitions that are associated with them. You might have multiple definitions, but they are all associated with one word's entry in the dictionary.

This maps to the data structure very well: each entry is a key-value pair, where the keys are the words, and the values are the definitions.  If there are multiple definitions, you might instead have a list of definitions instead of a single definition for the value, but the idea is the same.

So in Python we can create an empty dictionary with a pair of braces (curly brackets):

# How to create simple dictionary, print the type of dictionary, length of dictionary

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
type(pets)

In [ ]:
len(pets)

In [ ]:
pets['dogs']

# How to add element to the dictionary

In [ ]:
animal={'loin':4,'dog':3,'flaw':2,'jaw':5}
#len(animal)
#type(animal)
#animal['flaw']
#animal['dog'] +=3
#animal['jaw']=33
animal['sa']=22
animal

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
pets['dogs'] += 2
pets

In [ ]:
pets['fox'] = 3
pets

In [ ]:
pets['dogs']= 4
pets

# What if we try to add a key value pair whose key is already present?

# You can ask for the list of keys, of key-value pairs, or just the values.

# How to print keys of the list or dictionary and values of the key

In [ ]:
pets.keys()

In [ ]:
pets.items()

In [ ]:
pets.values()

In [ ]:
a={'10':1,'20':2,'30':3,'40':4,'50':5}
a['60']=6
#a.keys()
#a.items()
#a.values()
#'20' in a
#2 not in a

In [ ]:
pets

# To find weather a key is present in dictionary or not

In [ ]:
'cats' in pets

In [ ]:
'cats' not in pets

In [ ]:
students={}

In [ ]:
type(students)

### Accessing items with `get()`

You can instead access values with the `get()` method which has a little more capability.  Get returns the value associated with a key, like indexing, but if the key doesn't exist it doesn't raise an error, but instead returns a default value `None`.

In [ ]:
#student['3']

In [ ]:
print (student.get('3'))

In [ ]:
students={}
students['1']="Zaviyar"
students["2"]='amir'
students['3']="khattak"
students["4"]='Rovaid'
students

In [ ]:
#students['5']
print(students.get('2','yes'))
#print(students.get('7','yes'))

# how we can show list of dictionary function??? please explore some of them

# We can have a dictionary inside a dictionary

In [ ]:
college = {'name': "COMSATS", "students":student}
college

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
x=thisdict['model']
print(x)
print(thisdict.get('year'))
thisdict["year"]= 2000
thisdict

In [ ]:
newdic= dict(brand1= 'ford' ,model='janpan',year='20000')
newdic

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.values()
car.get("model")
print(car["model"])

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#print(thisdict)
#for x in thisdict:
 #   print(thisdict[x])
    
#for x in thisdict.values():
 #   print(x)
for x,y in thisdict.items():
    print(x,y)
thisdict.pop("model")
thisdict
thisdict['model1']="yoho"
thisdict
thisdict.popitem()
thisdict

## Mathematical Operations
-----------------------
By now, we're pretty use to lists being the workhorse sequential data structure in Python. It's great for many things, but it turns out that another data structure, the NumPy array, provides a different set of functionality that is really useful -- especially for numeric computations.

Here we start with a list, and illustrate the difference in syntax for mathematical operations on a list and an array.

Imagine you want to add 1 to every element in a sequence. Here is a comparison between doing this with an array and a list.

Let's look at a list

In [ ]:
a = [1, 2, 3, 4]
a

If you add 1 to a list, you get an error because you can't add list and int types.

In [ ]:
#a+5
a.insert(2,8)
a

# How to add 1 to each element of the list

In [ ]:
a = [1, 2, 3, 4]
[x +1 for x in a]

This will work, but it is a bit cryptic to the uninitiated:

#### List Comprehension

In [ ]:
[val + 1 for val in a]

### Numpy - arrays
But if we convert `a` to a NumPy `array`, then it does work:

# How to convert a list into numpy array? please perform converting integer list, string list, mixed list into respective Numpy-array

In [ ]:
import numpy as np 
a = np.array(a)

In [ ]:
a

# Excercise: How to change the array element? e.g. if array= ([1, 2, 3, 4]) 
output: ([6, 7, 8, 9])

In [ ]:
a+5

This is the first thing that the array provides: when you perform a mathematical operation on an array, the operation is performed on every element of the array.  So the result is 1+5 is 6, 2+5 is 7, 3+5 is 8 and 4+5 is 9.

Operations on two Arrays
------------------------

NumPy always carries out element-by-element operations when operating on two arrays.  Here are several examples with `+`,`*`, and `**` operators.

Let's create another array `b`:

# How to create array

In [ ]:
b = np.array([2, 3, 4, 5])
b

# Creating two array a, b and then performing 
a+b
a*b
a**a
Operations on arrays
Note: Take array with different length

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
b=[3,4,5,6]
b=np.array(b)

In [ ]:
a
b

# Excercise: What will be the ouput?

In [ ]:
a+b
#a*b
#a**a

They both have 4 elements.  If we add a and b:

In [ ]:
a + b

then the operation is performed element-by-element: 1+2 is 3, 2+3 is 5, 3+4 is 7 and 4+5 is 9.

This doesn't just work for addition.  You can multiply:

In [ ]:
a*b

You can exponentiate:

In [ ]:
a**b

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
a

# How to find sum, standard deviation, mean of array element

In [ ]:
#np.sum(a)
#np.std(a)
#np.mean(a)
#np.argmax(a)

All operations are performed element-by-element.

In [ ]:
np.sum(a)

In [ ]:
np.std(a)

In [ ]:
np.mean(a)

# How to create 2-d array randomly within a fixed range and predifined rows and colums

In [ ]:
import numpy as np
np.random.seed(0)
x1= np.random.randint(10,size=(3,4))
x1

In [ ]:
import numpy as np
myarray=np.array([[1,2,3],[4,5,6]])
print(myarray)

In [ ]:
import numpy as np
np.zeros((3,4))
#np.ones((3,4))
#np.random.random((2,2))
#np.empty((2,3))
#np.full((2,3),3)
#np.arange(10,25,5)
#np.linspace(0,2,9)

In [ ]:
np.ones((3,4))

In [ ]:
np.random.random((2,2))

In [ ]:
np.empty((2,3))

In [ ]:
np.full((2,3),3)

# start, stop, step (excluding end point)

In [ ]:
np.arange(10,25,5)

# start , stop number of intervel to be genrated

In [ ]:
np.linspace(0,2,9)

# Reshaping the original array

In [ ]:
import numpy as np
a=np.arange(15).reshape(3,5)
a

In [ ]:
#a.shape
#a.dtype.name
#a.ndim # dimension
a.itemsize # length or one array element in bytes

# How to sum array element, find the maximum and minimum element in the array

In [ ]:
import numpy as np
a= np.arange(6)
a
a.sum()
a.min()
a.max()

In [ ]:
import numpy as np
b= np.arange(12).reshape(3,4)
b

In [ ]:
import numpy as np
c=np.arange(24).reshape(2,3,4)
c

In [ ]:
import numpy as np
a= np.array([1,2,3,4])
list=[3,4,5,6]
b=np.array(list)
a
b

In [ ]:
a+b

In [ ]:
(a+b).sum()

In [ ]:
a=np.arange(10)
a
b=np.arange(10)**3
b

In [ ]:
b[2:5]
b[:8]
b[-1]
b[:-2]
b[0:-5]

In [ ]:
b[:6]=100
b

In [ ]:
b[::-1]

In [ ]:
def f (x,y):
    return 10*x+y

b=np.fromfunction(f,(5,4))
b

#### Numpy arrays - more examples later

[Back To The Table of Contents](#TOC)

<hr><font color="green"><h1>from file: file_3</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Conditional_Statements"></a>
## Conditional Statements
-------------

### If statements

The simplest sort of way of controlling execution is to decide whether or not
a particular piece of code should be executed or not, based upon some
condition.  This could include:

* computing a particular value for a function in the special case e.g. where
  `x = 0`

* testing if an input is good, and only computing values if it is

* executing different pieces of code depending on a command string read from a file
  
In each of these cases, we execute the code *if* some condition holds, so the
statement in Python (and many other languages) that lets us do this is called the `if` statement.

In Python, `tab` is used as an indentation of block of code

The simplest form of the `if` statement looks like this:

In [108]:
x = 0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
else:
    print('try again')
    print('okkkk')
print('that s good')

Hey!
x is positive
that s good

In [109]:
if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

Hey!
x is positive
This is still part of the block
This isn't part of the block, and will always print.

In [110]:
x = -0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

This isn't part of the block, and will always print.

In [111]:
x = 0

if x > 0:
    print ("x is positive")
elif x == 0:
    print ("x is zero")
else:
    print ("x is negative")

x is zero

In [ ]:
# to check the elements in the list
mylist = [0, 1, 4, 1, 5, 9]
#mylist = []
if mylist:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

In [ ]:
if len(mylist) >= 1:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

Loops
=======

When programming, you want to be able to repeatedly execute chunks of code
without having to manually duplicate the code.  Being able to repeat a set of
instructions in a controlled manner is perhaps the most important function of any
sort of automation, and being able to write code to execute something a
million times as easily as writing code to execute something three times is
important.

Python implements a number of looping constructs, and in this lecture we'll
discuss the `while` loop and the `for` loop.

While loop
----------

The `while` loop is the simplest form of loop in Python.  It is similar to an `if`
statement, in that it evaluates a test which evaluates to `True` or `False`.
Unlike the `if` statement, however, a `while` statement doesn't just execute the following
block of code once, it executes it over and over, re-evaluating the test
before each repetition.  When the test evaluates to `False`, the loop will stop
executing, and execution will continue with the next section of code.  Just
like the `if` statement, indentation determines which lines of code are
associated with the `while` statement.

A simple example of a `while` loop might look something like this:

In [112]:
i = 0
total = 0
while i < 100:
    total += i
    i += 1
print (total)

4950

'For' loop
===

In [113]:
for i in range(5):
    print (i)

0
1
2
3
4

In [114]:
line = '1 2 3 4 5'
fields = line.split()
fields

['1', '2', '3', '4', '5']

In [115]:
fields = [1,2,3,4,5]
total = 0
for field in fields:
    total += field
total

15

In [116]:
fields = [1,2,3,4,5]
sum=0
for i in fields:
    sum= sum + i
print (sum)
avg= sum/len(fields)
avg

15

3.0

In [ ]:
#   Calcuate the average of above list ???

### List Comprehension

Python also has what is called a list comprehension, which is a compact way of writing many loops.

In [117]:
numbers = [int(kk) for kk in fields]
numbers

[1, 2, 3, 4, 5]

In [118]:
h_letter=[]
for letter in "Zaviyar Khattak":
    h_letter.append(letter)
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r', ' ', 'K', 'h', 'a', 't', 't', 'a', 'k']

In [119]:
h_letter=[letter for letter in 'Zaviyar']
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r']

In [120]:
lst = [10, 21, 4 , 7, 12]

[num*num for num in lst if num > 10]

[441, 144]

**Excercise:**
Calculate the Square of the lst1[10, 21, 4, 7, 12] greater than equal to 10  using list comprehension ?

In [ ]:
# To Do

### Break and Continue

Both for and while statements can have the flow modified with the `break` and
`continue` statements.

If execution hits a `continue` statement, then the execution will jump
immediately to the start of the next iteration of the loop.  This is useful if
you want to skip occasional values:

Lets print even elements from the given list

In [ ]:
values = [7, 6, 4, 7, 19, 2, 1]

for i in values:
    if i % 2 != 0:
        # skip odd numbers
        continue
    print (i)

Print the elements of the list until you encounter 'stop'.

In [ ]:
command_list = ['start', 'process', 'process', 'process', 'stop', 'start', 'process', 'stop']

while command_list:
    command = command_list.pop(0)
    if command == 'stop':
        break
    print(command)

[Back To The Table of Contents](#TOC)

<a id="Functions"></a>
# Functions
========

In [122]:
def add(x,y):
    """ Add two values"""
    a = x+y
    return a

In [123]:
print (add(2,3))

5

# Excersie: what will be the output

In [ ]:
print (add('a',2))

In [124]:
print (add('foo','bar'))

foobar

In [125]:
print (add([1,2,3],[4,5,6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
print (add('abc',1)) # if passed parameter which can't be added, it will return an exception

#### Function arguments with default values

In [126]:
def add_w_default(x, y = 10):
    return x+y

In [127]:
add_w_default(20)

30

In [128]:
add_w_default(20, 30)

50

In [129]:
add_w_default(y=20, x = 10)

30

It's an advanced concept that you will often encounter in production level libraries

- definition of kwargs

In [130]:
# A function can accept arbitrary keyword argument using the following syntax
def add(x, **kwargs):
    print (type(kwargs))
    total = x
    for arg,value in kwargs.items():
        print ('adding ', arg)
        total += value
    return total

In [131]:
print (add(10, y = 11, z = 12, w=13, p =11))

<class 'dict'>
adding  y
adding  z
adding  w
adding  p
57

In [132]:
# The following syntax accepts any number of positional and keyword arguments
def foo(*args, **kwargs):
    print (args, kwargs)

In [ ]:
foo(2,3, x='foo', z=10)

[Back To The Table of Contents](#TOC)

<a id="Classes"></a>
## Classes
=======

Now lets create a class. In Python, every class should derive from object. 
Our class will describe a person, with a name and an age. We will supply a constructor, and 
a method to get the full name.

# Create a Class

To create a class, use the keyword class:

In [133]:
class MyClass:
  x = 5

# Create Object

Now we can use the class named MyClass to create objects:

In [134]:
p1 = MyClass()
print(p1.x)

5

# The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

# Example

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person(object):
    def __init__(self, first, last, age):
        self.first = first
        self.last = last
        self.age = age
    
    def full_name(self):
        return self.first + ' ' + self.last

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Zaviyar", 7)

print(p1.name)
print(p1.age)

# Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

# The self Parameter

**Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

**The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

**It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

In [ ]:
class Man:
    def __init__(self, first, last, age):
        self.first=first
        self.last=last
        self.age=age
    def full_name(self):
        return self.first + ' ' + self.last + ' ' + self.age

In [ ]:
man= Man('khattak', ' Abrar', 44)
print(man.first)
print(man.age)

# Excersie:

**Modify Object Properties
**Delete Object Properties
**Delete Objects
**The pass Statement

Now we can create an instance of a Person, and work with the attributes of the class.

[Back To The Table of Contents](#TOC)

<a id="PGPT"></a>
# Python for General purpose task

python has many utility functions and libraries
including
os, os.path, time, shutil, urlib, datetime, etc.

In [135]:
import os
os.listdir(os.getcwd()) # Python method getcwd() returns current working directory of a process.
#os.listdir() # Python method listdir() returns a list containing the names of the entries in the directory given by path. The list is in arbitrary order.
#notebookfiles = [x for x in os.listdir(os.getcwd()) if x.endswith('.ipynb')]
#notebookfiles

#os.getcwd() # Python method getcwd() returns current working directory of a process. 
#os.chdir() #os.chdir() method in Python used to change the current working directory to specified path. It takes only a single argument as new directory path.

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '2. Majorit Class Overlapping .ipynb',
 '2.1 Intro_to_Python-stu.ipynb',
 '2.2 DA_With_Pandas.ipynb',
 '2.2 DA_With_Pandas_in_session.ipynb',
 '2.2 DA_With_Pandas_sol.ipynb',
 '2.3 Python-Plots.ipynb',
 '3.2 Practical-machine-learning.ipynb',
 '3.3 AdvML-Full.ipynb',
 '3D Objects',
 'Abalone.csv',
 'anaconda3',
 'AppData',
 'Application Data',
 'BSDS-Class-0.ipynb',
 'BSDS-Class-0C.ipynb',
 'BSDS-Class1.ipynb',
 'BSDS-Class1C.ipynb',
 'BSDS-Class_4 C.ipynb',
 'BSDS-Class_4.ipynb',
 'BSDS-Class_5C.ipynb',
 'BSDS-Class_6C.ipynb',
 'BSDS_Class_2.ipynb',
 'chipotle.tsv',
 "console.log('..............');.js",
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Empirical comparsion using Glass.ipynb',
 'Favorites',
 'imdb_1000.csv',
 'IntelGraphicsProfiles',
 'iris.csv',
 'iris_1.csv',
 'Iris_new.csv',
 'Links',
 'Local Settings',
 'MachineLearningInExcel.xlsx',
 'movieusers.tsv',
 'MS_Class_0.ipynb',
 'MS_Class_1.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Recoverd files',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Technicle discusion.ipynb',
 'Templates',
 'ufo.csv',
 'Videos']

In [ ]:
import time
time.sleep(3)
print ('sleep for seconds: 3 s')

In [ ]:
print (time.ctime())

In [ ]:
import urllib
#response = urllib.('http://python.org/')
#html = response.read()
import urllib.request
 
#html = urllib.request.urlopen('https://artifex.org/~hblanks/talks/2011/pep20_by_example.py.txt').read()
#print (html)

Now lets see how we can work with files in Python. We will start by creating a directory using some commands you can do in IPython.

In [136]:
cd ~

C:\Users\celll spot

In [137]:
mkdir demo_temp

In [138]:
cd demo_temp

C:\Users\celll spot\demo_temp

Now we will create a file, and write a couple of lines of data to it.

In [139]:
file = open('data.txt', 'w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

In [140]:
file= open("example.txt",'w')
file.write("this is line one\n")
file.write("this is line two\n")
file.write("this is line three\n")
file.writelines("this is line four\n")
file.writelines("this is line five\n")
file.close()

In [142]:
file= open("example.txt", "r")
#print(file.readline())
print(file.readlines(3))

['this is line one\n']

In [143]:
print(file.readlines())

['this is line two\n', 'this is line three\n', 'this is line four\n', 'this is line five\n']

In [144]:
file=open("example.txt",'w')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [145]:
file=open("example.txt",'w')

file.write("line 9\n")
file.write("line 10\n")
file.write("line 11\n")
file.close()

In [146]:
file=open("example.txt",'a+')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [148]:
file=open("example.txt","r")
#for val in file:
 #   print(val)
for row in file:
    print(row)

line 9

line 10

line 11

line 6

line 7

line 8

In [149]:
file= open('example.txt','w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

Now we can re-open the file, and do some processing on it.

In [150]:
file = open('data.txt')
data = []
for line in file:
    data.append([int(field) for field in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [151]:
file= open('example.txt')
data=[]
for line in file:
    data.append([int(d) for d in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [152]:
file=open("example.txt",'w')
file.write('1 2 3 4, 5\n')
file.write('2,3,4,5, 6\n')
file.close()

In [153]:
file= open('example.txt')
newdata=[]
for val in file:
    newdata.append([int(field) for field in val.split(',')])
print(newdata)

ValueError: invalid literal for int() with base 10: '1 2 3 4'

In [ ]:
for row in data:
    print (row)
    #print row

Now we will clean up this file.

In [ ]:
file.close()

In [ ]:
import os
os.remove('data.txt')

In [ ]:
cd ..

In [ ]:
os.rmdir('demo_temp')

Now we will take a look at modules. Python provides a whole host of built-in modules. We will explore the os module, which provides operating system information.

In [ ]:
import os
os.getpid() #os.getpid() method in Python is used to get the process ID of the current process.

In [ ]:
unique = []
file=open('test.txt', 'r')
s= file.read()
for w in s.split():
    unique.append(w)
print(unique)
len(unique)

In [ ]:
file= open('test.txt', 'r')
numwords=0
for line in file:
    words= line.split()
    numwords += len(words)
    print(words)
numwords
#print(words)

In [ ]:
coutn={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in coutn.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count = {}
for w in open('test.txt').read().split():
    if w in count:
        count[w] += 1
    else:
        count[w] = 1
for word, times in count.items():
    print ("%s was found %d times" % (word, times))

In [ ]:
file=open("test.txt","r+")

wordcount={}

for word in file.read().split():
    if word not in wordcount:
        wordcount[word] = 1
    else:
        wordcount[word] += 1

for k,v in wordcount.items():
    print (k, v)

In [ ]:
file= open('test.txt')
count=[]
s= file.read()
d=s.lower()
wordcount=0
for word in d.split():
    count.append(word)
print(len(count))

In [ ]:
count={}
file= open('test.txt')
s= file.read()
d=s.lower()
for word in d.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] = 1
    
#print(count)
#for k,v in count.items():
   # print(k,v)
#sorted(count.values())
#sorted(count.items(), key=lambda items:items[1])
new=[pair[0] for pair in sorted(count.items(), key=lambda items:items[1])]
nnew= ' '.join(new)
nnew

#[pair[0] for pair in sorted(d.items(), key=lambda item: item[1])]

file=open('freq.txt', 'w')
file.write(nnew)
file.close()
#list1.append(line.strip(','))

[Back To The Table of Contents](#TOC)

<a id="Excercises"></a>
# Excercises

<hr><font color="green"><h1>from file: BSDS-Class_4 C-027</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Basics"></a>
## Basics

Let's start simple with some arithmetic... performing addition, subtraction on different datatype

# Perform some artithematic operation like addition, subtraction and multiplication of differetn data type

# How to add two integer, integer and a float, integer and character etc

In [1]:
2 + 2

4

In [2]:
2.0 + 2.5

4.5

# adding integer and float
If you add an integer to a decimal, you will get a floating point number.

In [3]:
2 + 2.5

4.5

# Variables : Declare and use different types of variables, to know how values stored in the variables, and how the type is decide:

In [4]:
a = 4.0

In [5]:
a

4.0

# to check the type of variable

# Data tyes is assigned based on the values of the varibale,: create differetn variables with differetn values to check and then find the respective data type

In [6]:
type(a) # We can ask the variable for its type

float

# Multiple varible and multiple assignment
What do you think about not declaring variable explicitly?

In [7]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'abcd',12.01
print (e,f,g)

10 10 10
12 abcd 12.01

# How to check types of different variables

In [8]:

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

### Strings

# what are the multiples ways to create string
Now we will create some text strings, in a couple of ways.

In [9]:
s = 'hello'
ss="ok kkk"
sss = "Hello, \"I love python!\""
z = """Python Guides!!! """
#print s  #only works in Python2
print(s)  # works in Python2 and Python3
print(ss)
print(sss)
print(z)
type(z)
print('\n')
#type(ss)

hello
ok kkk
Hello, "I love python!"
Python Guides!!!

# String from List, dictionaries

In [10]:
# Lists
# string from list
# place1 = ['California', 'Chicago', 'Houston']
# value1 = ' '.join([str(element) for element in place1])
# print(value1)

print('\n')
# string concatenation
str1 =['Germany','France','Australia','England','Switzerland']
str2='\n'
print(str2.join(str1))

# Dictionaries

str = "{'John':30,'smith':20,'George':80}"
my_dict= eval(str)
print(my_dict)
print(my_dict['John'], ", ", my_dict['George'])

Germany
France
Australia
England
Switzerland
{'John': 30, 'smith': 20, 'George': 80}
30 ,  80

# String Slicing

In [11]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

# # Python String Operations

In [12]:
my_string = "this string will be deleted from memory"
print(my_string)
# uncomment below two lines to run it
# del my_string
# my_string 

str1 = 'Hello'
str2 ='World!'

# String Concatenation
# using +
print('str1 + str2 = ', str1 + str2)

# String duplication
# using *
print('str1 * 3 =', str1 * 3)

#Print two strings on same line
print(str1, end=" ") # space in end " " to add space between words
print(str2)
# more practical example below

# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == " "):
        print("", end=" ") # just to add space between words where it is in original string   
#     print(letter) # this will print each letter on new line, but lets print each letter on same line
    print(letter, end="")

    count += 1
print("\n") # to add new line as all previous letter were being printed on same line, so now to continue on next line i added this
print(count,'letters found')

# check if a word or char is in a string or not
print('a' in 'program')
print('john dow' not in 'john doe not a designer')

this string will be deleted from memory
str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello
Hello World!
Hello  World

11 letters found
True
True

# Python string format() method

In [13]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

# Common Python String Methods

In [14]:
print("PrOgRaMiZ".lower())

print("PrOgRaMiZ".upper())

# This will split all words into a list
print("This will split all words into a list".split()) 
#output -> ['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

# ' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])
print(' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']))
# output -> 'This will join all words into a string'

# find and replace in a string
print('Happy New Year'.find('ew'))
print('Happy New Year'.replace('Happy','Brilliant'))

programiz
PROGRAMIZ
['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']
This will join all words into a string
7
Brilliant New Year

# Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [15]:
s = """hello
s
zab
i
st"""
s
ss= "hi\n good to \n see you \n in airport"

In [16]:
#print s
print (s)
print (ss)

hello
s
zab
i
st
hi
 good to
 see you
 in airport

# We can concatenate strings together, and we can also index specific characters in the string. Negative indices count from the end of the string.

In [17]:
strr = "lets do Ds"
print(strr[-9])

e

# What are the differetn methods to creates string?

In [18]:
# discussed above

# Please Create differetn integer string, character string and string leterals

In [19]:
intStr = "23749237423874923"
charStr = "jksdhfksnvfowlcw"


s = "hello " + 'SZABIST'
s

'hello SZABIST'

# How to use break statment

In [20]:
s[2]
for x in s:
    if x=="Z":
        break
print(x)

i = 0
while True:
    if i == 10:
        break
    i = i + 1
print(i)

Z
10

# How to use continue statment

In [21]:
for x in s:
    print(x, end="")
    if x=='Z':
        continue



i = 0
while i < 100:
    i = i + 1
    if i == 10:
        continue
    
    print(i)

hello SZABIST1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# how to access the last element/character in the string

In [22]:
s[-1]   # accessing the last element

'T'

# how to access the first character and any other character in the string

In [23]:
s[0]

'h'

Slicing
-------

Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

As an example, let's extract elements 1 through 3:

In [24]:
# A String to Work on
let = "String_to_Work_on"
print(let)

String_to_Work_on

# How to print first three character of the string?

In [25]:
print(let[0:3])

Str

# How to print last three character of the string?

In [26]:
print(let[-3:])

_on

# How to print different character in a string?

In [27]:
# print chars at even indexes in string
print(let[0::2])

# print chars at indexes skipping 3 chars in string
print(let[0::3])

# print chars at odd indexes in string
for i, char in enumerate(let):
    if i % 2 == 1:
        print(char, end="")

Srn_oWr_n
Si__ro
tigt_oko

# How to check length of the string?

In [28]:
print(len(let))

17

In [29]:
s= "Zaviyar"
s[:3] # 1 is included but 3 is excluded

'Zav'

In [30]:
z= range(10)
print(z[::2])

range(0, 10, 2)

In [31]:
s[:3]

'Zav'

In [32]:
s[-3:]

'yar'

In [33]:
len(s)

7

### String Operations

# How to split string into words/ list item

In [34]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

y = txt.split(" ")
print(y)

z = txt.split("e")
print(z)

# do only certain amount of splits
y = txt.split(" ", 3)
print(y)

['hello', 'my name is Peter', 'I am 26 years old']
['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']
['h', 'llo, my nam', ' is P', 't', 'r, I am 26 y', 'ars old']
['hello,', 'my', 'name', 'is Peter, I am 26 years old']

# Take a paragraph in form of a string, and split this paragraph so that each words looks like a list item e.g. String_list =['a', 'b',,,,,,,,,'n']

In [35]:
para = "In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design."
# empty delimeter means split at space " "
splitPara1 = para.split()
print(splitPara1)

['In', 'publishing', 'and', 'graphic', 'design,', 'Lorem', 'ipsum', 'is', 'a', 'placeholder', 'text', 'commonly', 'used', 'to', 'demonstrate', 'the', 'visual', 'form', 'of', 'a', 'document', 'or', 'a', 'typeface', 'without', 'relying', 'on', 'meaningful', 'content.', 'Lorem', 'ipsum', 'may', 'be', 'used', 'as', 'a', 'placeholder', 'before', 'the', 'final', 'copy', 'is', 'available.', 'It', 'is', 'also', 'used', 'to', 'temporarily', 'replace', 'text', 'in', 'a', 'process', 'called', 'greeking,', 'which', 'allows', 'designers', 'to', 'consider', 'the', 'form', 'of', 'a', 'webpage', 'or', 'publication,', 'without', 'the', 'meaning', 'of', 'the', 'text', 'influencing', 'the', 'design.']

In [36]:
s= 'Zaviyar khattak'
s.split()

['Zaviyar', 'khattak']

# The split() method splits a string and returns a list of strings. 

str.split(separator, maxsplit), 
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at
    whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of
    splits.

In [37]:
txt = "hello, my name is Zaviyar, I am 6 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Zaviyar,', 'I', 'am', '6', 'years', 'old']

# Please practice the different variations of split method, i.e. provide different values to separator and maxsplit to show the effect

In [38]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))


# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))


# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

# Split the string, using comma, followed by a space, as a separator, a string may by in any form, like "apple#banana#cherry#orange"

in this case setting the maxsplit parameter to 1, will return a list with 2 elements! Rather using the comma, you can also use white space as a separtor

In [39]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Two important parameter for split (), separator, maxsplit, please practice with differetn values for both the parameters

In [40]:
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Using the split function, we can split the string into a list of words and this is the most generic and recommended method if one wished to accomplish this particular task. But the drawback is that it fails in cases the string contains punctuation marks.

# for example: 
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

the output is : ['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Since this punctuation mark could not be the part of a string, so your task is to provide a function or any other means to remove these punctuation mark after spliting.

# Hint #1: Importing the re library, and using the findall() of re 
# where "re" is short form of Regular Expressions

In [41]:
import re
test_string= "Programming,  is fun @# Oh, Really you mean it.!!!"
res = re.findall(r'\w+', test_string)
 
# printing result
res

['Programming', 'is', 'fun', 'Oh', 'Really', 'you', 'mean', 'it']

# Hint 2:  Method #2 : Using regex( findall() ) 
In the cases which contain all the special characters and punctuation marks, the conventional method of finding words in string using split can fail and hence requires regular expressions to perform this task. findall function returns the list after filtering the string and extracting words ignoring punctuation marks.

In [42]:
s.replace("Zaviyar", "Welcome")

'Programming,  is fun @# Oh, Really you mean it.!!!'

In [43]:
s.upper()

'PROGRAMMING,  IS FUN @# OH, REALLY YOU MEAN IT.!!!'

# How to print a string in reverse order 
e.g Hello world to dlrow olleH

In [44]:
s = "Hello world"
print(s[::-1])

dlrow olleH

# practice with different string length, and combination

In [45]:
s = "Hello world"
print(s[:2:-1]) # doing so skips first 3 chars

dlrow ol

# Conversion of number and string
# How to convert string to a number?
# How to convert number to a string, practice different conversion

In [46]:
s = "12345"
intS = int(s)
print(type(intS))

<class 'int'>

In [47]:
num = 10
strS = "% s" % num
print(type(strS))

<class 'str'>

# For Practice

In [48]:
Name = 'Data Science in Practice'
sent="Software Development = 1831"

indexOfS = Name.index("S")
indexOfc = Name.index("c")
print(Name[indexOfS:])
print(Name[indexOfc:])

s = "Software Development"
indexOfS = sent.index("S")
print(sent[indexOfS: len(s)])

Science in Practice
cience in Practice
Software Development

**Excercise:**
Extract 'Science in Practice'
Extract 'cience in Prac'
Extract 'Software Development '

# How to find lenth of the sentense

In [49]:
sentence = "Extract 'Science in Practice' Extract 'cience in Prac' Extract 'Software Development '"
print(len(sentence))

86

# How to find lenth of the string

In [50]:
len(Name)

24

**Excercise:**
Remove spaces from the above String 'Name'

# How to remove spaces from the string
Name: Muhammad Zaviyar Khattak 
After operation:  MuhammadZaviyarKhattak
After operation:  MuhammadmZaviyarmKhattak (inset m instead of space)

In [51]:
# removing spaces
name = "Muhammad Zaviyar Khattak"
print(name.replace(" ", ""))

# replacing spaces with lower case m
name = "Muhammad Zaviyar Khattak"
print(name.replace(" ", "m"))

MuhammadZaviyarKhattak
MuhammadmZaviyarmKhattak

# Excercise:  Convert the following string value into number and multiply that number by 10 ? strnumber = '234'

In [52]:
strnumber = '234'
num = int(strnumber)
print(num * 10)

2340

# joining two strings

In [53]:
fname = "Muhammad "
lname = "Saqib"

print(fname + lname)

Muhammad Saqib

# concatenating each character of second string with first string, e.g. str1= Zaviyar khattak, str2= by 

output: bZaviyar khattak yZaviyar khattak

In [54]:
fname = "Zaviyar khattak"
lname = "by"
res = ""
for char in lname:
    res += char + fname + " "

# print(fname.join(lname))
print(res)

bZaviyar khattak yZaviyar khattak

# How to find index of substring in a string

In [55]:
fname = "Zaviyar khattak"
indexofZaviyar = fname.index('Zaviyar')
print(indexofZaviyar)

0

# To check weather substring is present in the string or not

In [56]:
fname = "Zaviyar khattak"
print("avi" in fname)

True

# The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

str= " '0000000  this is string example....wow!!!0000000' ";
result: '0000000  this is string example....wow!!!0000000'

Please perform some different operation by removing different character

In [57]:
strr = " '0000000 this is string example....wow!!!0000000' "
print(strr.strip()) # removes leading trailing spaces
result = '0000000 this is string example....wow!!!0000000'

# more examples
string = """    geeks for geeks    """  
# prints the string by removing geeks
print(string.strip(' geeks')) # removes spaces as well as given text

print(string.strip('ee')) # removes given text

'0000000 this is string example....wow!!!0000000'
for
    geeks for geeks

# Removed Specific character from left and right of the string

# Home work
**Explore the following funciton of strings ** write 3-5 version of each function to enhance your skills

- lower()
- capitalize()
- endswith()
- join()
- strip()
- find()
- index()

use e.g. ?s.endswith

In [58]:
# already done above

There are many other methods on strings, and Python's dir() function will list all the methods on an object:

[Back To The Table of Contents](#TOC)

<a id="PCDS"></a>
# Python Common Data Structures

- list
- set
- dictionary
- array
- tuple
- custom classes

There are four collection data types in the Python programming language:

    ****List is a collection which is ordered and changeable. Allows duplicate members.
    ***Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    ****Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    ****Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Lists
=====

List in Python are an ordered sequence of any kind

List Objects
------------

You create a list by putting square brackets around a comma-separated list of other Python items:

# How to create a list in paython?
# Create different list with different length, like list with 0 items, list with 1 item, ...... list with n items.

In [59]:
# creating a list

empty = []
withOne = ["hi"]
items = ["mobile", "laptop", "headset"] # with n
fromStr = "hello world".split()

print(fromStr, ", ", type(fromStr))

['hello', 'world'] ,  <class 'list'>

# how to repeate the list item, e.g. the list,  lst = [1, 2.0, 3, 'Zaviyar'] 

to the list  [1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

In [60]:
lst = [1, 2.0, 3, 'Zaviyar']
print(lst * 3)

[1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

# How to add item to the existing list item, please explore different methods for adding list items to existing list

In [61]:
items.append("charger")
print(items)

items.append(["cable, desktop"])
print(items)

items.extend(["cable", "desktop"])
print(items)

# insert the mouse item to the list in before the laptop item
items.insert(1, "mouse")
print(items)

['mobile', 'laptop', 'headset', 'charger']
['mobile', 'laptop', 'headset', 'charger', ['cable, desktop']]
['mobile', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop']
['mobile', 'mouse', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop']

# how to print individual element of the list at different location, e.g. 3rd item of the list, second last item of the list

In [62]:
print(items[2])
print(items[-2])

laptop
cable

In [63]:
lst =  [1, 2.0, 3, 'Zaviyar']
lst

[1, 2.0, 3, 'Zaviyar']

In [64]:
lst * 3

[1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

#### Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

# Using append function to insert list item, please use the append function to insert at different location

In [65]:
# lst = lst + [7, 8] + [[1,2]]
items.append("toys")
items

# lst.append('Class')
# lst
# lst[2] = "new"
# lst

['mobile',
 'mouse',
 'laptop',
 'headset',
 'charger',
 ['cable, desktop'],
 'cable',
 'desktop',
 'toys']

# How to delete list item, please delete the first item, any specific item and all list item

In [66]:
# first item
items.remove('mouse') # will remove the specified value at its first occurance
print(items)

# specific item
del items[3]
print(items)

# first item
items.clear()
print(items)

['mobile', 'laptop', 'headset', 'charger', ['cable, desktop'], 'cable', 'desktop', 'toys']
['mobile', 'laptop', 'headset', ['cable, desktop'], 'cable', 'desktop', 'toys']
[]

# Excercise: How to delete all item from the list

In [67]:
del items # will remove from memory
items.clear() # this now will give erro

NameError: name 'items' is not defined

# how to check for an item in the list or not using "in" and "not in" operator, perform the same operation for finding any substring

In [71]:
items = ["mobile", "laptop", "headset"]
"mobile" in items

True

In [72]:
"computer" not in items

True

In [73]:
"com" in items

False

In [74]:
# finding substring in list
test_list = ['GeeksforGeeks', 'Geeky', 'Computers', 'Algorithms']
  
# printing original list 
print ("The original list is : %s " %test_list)
  
# initializing substring
subs = 'Geek'
  
# using re + search()
# to get string with substring 
res = [x for x in test_list if re.search(subs, x)]
print ("All strings with given substring are : %s " %res)

The original list is : ['GeeksforGeeks', 'Geeky', 'Computers', 'Algorithms']
All strings with given substring are : ['GeeksforGeeks', 'Geeky']

In [75]:
1 in lst

True

In [76]:
2 in lst

True

In [77]:
2 not in lst

False

# How to extend list using append and extend function, find any difference between the function if any

In [78]:
items.append(['amar', 9]) # append will add it as a single item
items

['mobile', 'laptop', 'headset', ['amar', 9]]

In [79]:
items.extend([9,8,4,'saqib']) # extend will add them all as separate items based on separation of comma
items

['mobile', 'laptop', 'headset', ['amar', 9], 9, 8, 4, 'saqib']

# How to count frequency of the list item: using count function

In [80]:
count = items.count(9) # will retur count of specified value in a list not list length
count

1

# Deleteing list item using del keyword and remove function, as any difference between the two?
del list[2]

list.remove(2)

In [81]:
del items[3] # will remove value at this index from memory
del items[5] # will remove value at this index from memory

# items.remove(9) # will remove given value from list, will throw error if value not in list
items

['mobile', 'laptop', 'headset', 9, 8, 'saqib']

# Excersie: How to find maximum and minimum no in list

# Can we use maximum and minimum function of string of character? if yes! how?

In [82]:
# list should have all values of same type
list = [1,2,3,4,5]
print(max(list))
print(min(list))

str = ["hee", "akd", "skdjfjs"]

# finds on the basis of 1st ascii char index
print(max(str))
print(min(str))

5
1
skdjfjs
akd

# Excersie: How to add item in a specified index e.g. list=[1,2,4,5,6], the resultant list will be list= [1,2,4,'b',5,6]

In [83]:
items.insert(2, 'b')
items

['mobile', 'laptop', 'b', 'headset', 9, 8, 'saqib']

# Excercise: in the list list= [ 1,2,4,5,6,5], I want to remove 5, whcih one will be removed

In [84]:
list = [1,2,3,5,4,5]
list.remove(5)
list

[1, 2, 3, 4, 5]

# How to print list item in reverse
list=[1,2,4,5,6]

output: [6, 5, 4, 2, 1]

In [85]:
items.reverse()
items

['saqib', 8, 9, 'headset', 'b', 'laptop', 'mobile']

# sorting listing in ascending order, how in desending?

In [86]:
list=[1,2,4,6, 5,6]
list.sort()
list

[1, 2, 4, 5, 6, 6]

# Sort based on length

In [87]:
words = ["aaaa", "a", "tttt", "aa"]
print(sorted(words, key=len))

['a', 'aa', 'aaaa', 'tttt']

# Sort a Dictionary

In [88]:
engineers = [
    {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

# using custom function for sorting different types of data.
def get_engineer_age(engineers):
    return engineers.get('age')

engineers.sort(key=get_engineer_age)
print(engineers)

# output
[
    {'name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}
]

[{'name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

[{'name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [89]:
list.pop() # removes at last
list.pop(2) # removes given value

4

# Sort CHar list

In [90]:
chars = ["z", "y", "o", "b", "a"]
print(sorted(chars))  

chars = ["z", "y", "o", "a", "b"]
print(sorted(chars, reverse=True))

['a', 'b', 'o', 'y', 'z']
['z', 'y', 'o', 'b', 'a']

- how we can show the method of lst and explore some of these
***** explore atleast 3-5 differetn version of each method
    - 'append'
    - 'count'
    - 'extend'
    - 'index'
    - 'insert'
    - 'pop'
    - 'remove'
    - 'reverse'
    - 'sort'

# zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# what will be the index of 'dog' in zoo list?
what will be the index of ['dog', 'bew'] in the zoo list.

In [91]:
zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# index of dog 
# print(zoo.index('dog')) # if not in list will give error
print(zoo.index(['dog','bew']))

5

# How to assign list item to a variable

In [92]:
animal= zoo[4]
animal

'sanday'

# Excercise: How to display ['zebra', ['dog', 'bew']] from the below list

['cat', 'bird', 'zebra', 'monkey', 'sanday', ['dog', 'bew']]

In [93]:
print(zoo[zoo.index('zebra')] , ", ", zoo[zoo.index(['dog','bew'])])
print(zoo[2::3])

zebra ,  ['dog', 'bew']
['zebra', ['dog', 'bew']]

# How to dispaly random number from the below list
list = ['a','b','c','d'],

In [94]:
import random
print(random.choice(items))

b

# How to join list items (string) ['ok','good','night','and', 'sweet','dreams'] 

to:  ok good night and sweet dreams

In [95]:
list = ['ok','good','night','and', 'sweet','dreams']
joined = ' '.join(list)
print(joined)

ok good night and sweet dreams

# Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

In [96]:
# Creating a Dictionary with Integer Keys
dict = {
    1: 'Geeks', 
    2: 'For', 
    3: 'Geeks'
}

# with mixed key values
dict1 = {
    'Name': 'Geeks', 
    1: [1, 2, 3, 4]
}
print(dict)
print(dict1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

# What are the different methods to create dictionary, key and vlaues,

In [97]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
 
# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
 
# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

# Accessing Values
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'], '\n')
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict[1], '\n')

Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}
 
# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}
Accessing a element using key:
For

Accessing a element using key:
Geeks

{1: 'Geeks'}
Geeks
For

# Dictionary Methods

In [98]:
# demo for all dictionary methods
dict1={1:"Python",2:"Java",3:"Ruby",4:"Scala"}
#copy() method

dict2=dict1.copy()
print(dict2)

#clear() method
dict1.clear()
print(dict1)

#get() method
print(dict2.get(1))

#items() method
print(dict2.items())

#keys() method
print(dict2.keys())

#pop() method
dict2.pop(4)
print(dict2)

#popitem() method
dict2.popitem()
print(dict2)

#update() method
dict2.update({3:"Scala"})
print(dict2)

# values() method
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

# How to find Frequency of character in a string, 
string='everythingisfinished' find frequency of e, i h

In [99]:
from collections import Counter
# using collections.Counter() to get
# count of each element in string 

# initializing string 
test_str = "everythingisfinished"
res = Counter(test_str)
print(res)
print("e: ", res['e'])
print("i: ", res['i'])
print("h: ", res['h'])

Counter({'i': 4, 'e': 3, 'h': 2, 'n': 2, 's': 2, 'v': 1, 'r': 1, 'y': 1, 't': 1, 'g': 1, 'f': 1, 'd': 1})
e:  3
i:  4
h:  2

# Excersie: How to find frequency of each item in the list

list=[4,2,0,8,3,5,1,8,2,2,2]

In [100]:
from collections import Counter
# using collections.Counter() to get
# count of each element in string 

# initializing string 
# test_str = "everythingisfinished"
list=[4,2,0,8,3,5,1,8,2,2,2]
res = Counter(list)
print(res)

Counter({2: 4, 8: 2, 4: 1, 0: 1, 3: 1, 5: 1, 1: 1})

# How to find item frequency in a list
e.g.  list= ["a","b","b"]

out put:  [['b', 2], ['a', 1]],   means b occur 2 times, and a occurs 1 times

In [101]:
list= ["a","b","b"]
print(Counter(list))

Counter({'b': 2, 'a': 1})

# Loop over your list and print all elements that are of size 3

mylist = [[1,2,3],[4,5,6,7],[8,9,10]]

practice by creating differetn list of list both in numbers and string to perform the loop operation

In [102]:
mylist = [[1,2,3],[4,5,6,7],[8,9,10]]
for item in mylist:
    if len(item) == 3:
        print(item)

[1, 2, 3]
[8, 9, 10]

# How to combine list of list items

list = [[1,2],[3,4],[5,6]]

output: [1, 2, 3, 4, 5, 6]

In [103]:
from nltk import flatten

list = [[1,2],[3,4],[5,6]]
flattened_list = flatten(list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

# Excercise: this is your list: my_list = ['p','r','o','g','r','a','m','i','z']

Please print: 1. Elements 3rd to 5th, 2. Elements beginning to 4th, 3. Elements 6th to end, 4. Elements beginning to end

In [104]:
mylist = ['p','r','o','g','r','a','m','i','z']
print(mylist)
print(mylist[3:5])
print(mylist[0:4])
print(mylist[6:])

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']
['g', 'r']
['p', 'r', 'o', 'g']
['m', 'i', 'z']

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [105]:
print(range(15))

range(0, 15)

In [106]:
range(3,10,2)

range(3, 10, 2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
3
4
5

In [107]:
list = range(0, 8, 2)
list

range(0, 8, 2)

# The End

<hr><font color="green"><h1>from file: file_1</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Basics"></a>
## Basics

Let's start simple with some arithmetic... performing addition, subtraction on different datatype

# Perform some artithematic operation like addition, subtraction and multiplication of differetn data type

# How to add two integer, integer and a float, integer and character etc

In [ ]:
2 + 2

In [ ]:
2.0 + 2.5

# adding integer and float
If you add an integer to a decimal, you will get a floating point number.

In [ ]:
2 + 2.5

# Variables : Declare and use different types of variables, to know how values stored in the variables, and how the type is decide:

In [40]:
a = 4.0

In [41]:
a

4.0

# to check the type of variable

# Data tyes is assigned based on the values of the varibale,: create differetn variables with differetn values to check and then find the respective data type

In [42]:
type(a) # We can ask the variable for its type

float

# Multiple varible and multiple assignment
What do you think about not declaring variable explicitly?

In [43]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'abcd',12.01
print (e,f,g)

10 10 10
12 abcd 12.01

# How to check types of different variables

In [44]:

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

### Strings

# what are the multiples ways to create string
Now we will create some text strings, in a couple of ways.

In [45]:
s = 'hello'
ss="ok kkk"
#print s  #only works in Python2
print (s)  # works in Python2 and Python3
print(ss)
type(s)
#type(ss)

hello
ok kkk

str

In [46]:
s = "hello"
print (s)

hello

# Notice that both single quotes and double quotes give us the same string. You can pick whichever style that you like. We can also create multi-line strings, with embedded newline characters.

In [47]:
s = """hello
s
zab
i
st"""
s
ss= "hi\n good to \n see you \n in airport"

In [48]:
#print s
print (s)
print (ss)

hello
s
zab
i
st
hi
 good to
 see you
 in airport

# We can concatenate strings together, and we can also index specific characters in the string. Negative indices count from the end of the string.

# What are the differetn methods to creates string?

# Please Create differetn integer string, character string and string leterals

In [49]:
s = "hello " + 'SZABIST'
s

'hello SZABIST'

# How to use break statment

In [54]:
s[2]
for x in s:
   if x=="Z":
    break
print(x)

Z

# How to use continue statment

In [53]:
for x in s:
  # print(x)
  if x=='Z':
    continue
    print(x)

# how to access the last element/character in the string

In [55]:
s[-1]   # accessing the last element

'T'

# how to access the first character and any other character in the string

In [ ]:
s[0]

Slicing
-------

Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

As an example, let's extract elements 1 through 3:

# How to print first three character of the string?
# How to print last three character of the string?
# How to print different character in a string?
# How to check length of the string?

In [56]:
s= "Zaviyar"
s[:3] # 1 is included but 3 is excluded

'Zav'

In [57]:
z= range(10)
print(z[::2])

range(0, 10, 2)

In [58]:
s[:3]

'Zav'

In [59]:
s[-3:]

'yar'

In [60]:
len(s)

7

### String Operations

# How to split string into words/ list item

# Take a paragraph in form of a string, and split this paragraph so that each words looks like a list item e.g. String_list =['a', 'b',,,,,,,,,'n']

In [61]:
s= 'Zaviyar khattak'
s.split()

['Zaviyar', 'khattak']

# The split() method splits a string and returns a list of strings. 

str.split(separator, maxsplit), 
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at
    whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of
    splits.

In [63]:
txt = "hello, my name is Zaviyar, I am 6 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Zaviyar,', 'I', 'am', '6', 'years', 'old']

# Please practice the different variations of split method, i.e. provide different values to separator and maxsplit to show the effect

In [64]:
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))


# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))


# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']

# Split the string, using comma, followed by a space, as a separator, a string may by in any form, like "apple#banana#cherry#orange"

in this case setting the maxsplit parameter to 1, will return a list with 2 elements! Rather using the comma, you can also use white space as a separtor

In [65]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

# Two important parameter for split (), separator, maxsplit, please practice with differetn values for both the parameters

In [66]:
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Using the split function, we can split the string into a list of words and this is the most generic and recommended method if one wished to accomplish this particular task. But the drawback is that it fails in cases the string contains punctuation marks.

# for example: 
s= "Programming,  is fun @# Oh, Really you mean it.!!!"
s.split()

the output is : ['Programming,', 'is', 'fun', '@#', 'Oh,', 'Really', 'you', 'mean', 'it.!!!']

# Since this punctuation mark could not be the part of a string, so your task is to provide a function or any other means to remove these punctuation mark after spliting.

# Hint #1: Importing the re library, and using the findall() of re

In [70]:
import re
test_string= "Programming,  is fun @# Oh, Really you mean it.!!!"
res = re.findall(r'\w+', test_string)
 
# printing result
#print ("The list of words is : " +  test_string(res))
res

['Programming', 'is', 'fun', 'Oh', 'Really', 'you', 'mean', 'it']

# Hint 2:  Method #2 : Using regex( findall() ) 
In the cases which contain all the special characters and punctuation marks, the conventional method of finding words in string using split can fail and hence requires regular expressions to perform this task. findall function returns the list after filtering the string and extracting words ignoring punctuation marks.

In [72]:
s.replace("Zaviyar", "Welcome")

'Programming,  is fun @# Oh, Really you mean it.!!!'

In [ ]:
s.upper()

# How to print a string in reverse order 
e.g Hello world to dlrow olleH

# practice with differetn string length, and combination

# Conversion of number and string
# How to convert string to a number?
# How to convert number to a string, practice different conversion

# For Practice

In [ ]:
Name = 'Data Science in Practice'
sent="Software Development = 1831"

**Excercise:**
Extract 'Science in Practice'
Extract 'cience in Prac'
Extract 'Software Development '

# How to find lenth of the sentense

# How to find lenth of the string

In [ ]:
len(Name)

**Excercise:**
Remove spaces from the above String 'Name'

# How to remove spaces from the string
Name: Muhammad Zaviyar Khattak 
After operation:  MuhammadZaviyarKhattak
After operation:  MuhammadmZaviyarmKhattak (inset m instead of space)

**Excercise:**
Convert the following string value into number and multiply that number by 10 ? strnumber = '234'

# joining two strings

# concatanating each character of second string with first string, e.g. str1= Zaviyar khattak, str2= by 

output: bZaviyar khattak yZaviyar khattak

# How to find index of substring in a string

# To check weather substring is present in the string or not

# The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

str= " '0000000  this is string example....wow!!!0000000' ";
result: '0000000  this is string example....wow!!!0000000'

Please perform some different operation by removing different character

# Removed Specific character from left and right of the string

# Home work
**Explore the following funciton of strings ** write 3-5 version of each function to enhance your skills

- lower()
- capitalize()
- endswith()
- join()
- strip()
- find()
- index()

use e.g. ?s.endswith

There are many other methods on strings, and Python's dir() function will list all the methods on an object:

[Back To The Table of Contents](#TOC)

<a id="PCDS"></a>
# Python Common Data Structures

- list
- set
- dictionary
- array
- tuple
- custom classes

There are four collection data types in the Python programming language:

    ****List is a collection which is ordered and changeable. Allows duplicate members.
    ***Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    ****Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    ****Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Lists
=====

List in Python are an ordered sequence of any kind

List Objects
------------

You create a list by putting square brackets around a comma-separated list of other Python items:

# How to create a list in paython?
# Create different list with different length, like list with 0 items, list with 1 item, ...... list with n items.

# how to repeate the list item, e.g. the list,  lst = [1, 2.0, 3, 'Zaviyar'] 

to the list  [1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar', 1, 2.0, 3, 'Zaviyar']

# How to add item to the existing list item, please explore different methods for adding list items to existing list

# how to print individual element of the list at different location, e.g. 3rd item of the list, second last item of the list

#### Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

# Using append function to insert list item, please use the append function to insert at different location

In [106]:
lst.append('Class')
lst

[1, 2.0, 3, 'Zaviyar', 'Class']

# How to delete list item, please delete the first item, any specific item and all list item

# Excercise: How to delete all item from the list

# how to check for an item in the list or not using "in" and "not in" operator, perform the same operation for finding any substring

In [109]:
1 in lst

True

In [110]:
2 in lst

False

In [111]:
2 not in lst

True

# How to extend list using append and extend function, find any difference between the function if any

# How to count frequency of the list item: using count function

# Deleteing list item using del keyword and remove function, as any difference between the two?
del list[2]

list.remove(2)

# Excersie: How to find maximum and minimum no in list

# Can we use maximum and minimum function of string of character? if yes! how?

# Excersie: How to add item in a specified index e.g. list=[1,2,4,5,6], the resultant list will be list= [1,2,4,'b',5,6]

# Excercise: in the list list= [ 1,2,4,5,6,5], I want to remove 5, whcih one will be removed

# How to print list item in reverse
list=[1,2,4,5,6]

output: [6, 5, 4, 2, 1]

# sorting listing in ascending order, how in desending?

- how we can show the method of lst and explore some of these
***** explore atleast 3-5 differetn version of each method
    - 'append'
    - 'count'
    - 'extend'
    - 'index'
    - 'insert'
    - 'pop'
    - 'remove'
    - 'reverse'
    - 'sort'

# zoo=['cat', 'bird','zebra', 'monkey', 'sanday',['dog','bew']]

# what will be the index of 'dog' in zoo list?
what will be the index of ['dog', 'bew'] in the zoo list.

# How to assign list item to a variable

In [138]:
animal= zoo[4]
animal

'sanday'

# Excercise: How to display ['zebra', ['dog', 'bew']] from the below list

['cat', 'bird', 'zebra', 'monkey', 'sanday', ['dog', 'bew']]

# How to dispaly random number from the below list
list = ['a','b','c','d'],

# How to join list items (string) ['ok','good','night','and', 'sweet','dreams'] 

to:  ok good night and sweet dreams

# Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

# What are the different methods to create dictionary, key and vlaues,

# How to find Frequency of character in a string, 
string='everythingisfinished' find frequency of e, i h

# Excersie: How to find frequency of each item in the list

list=[4,2,0,8,3,5,1,8,2,2,2]

# Excersie: How to find frequency of each item in the list

# How to find item frequency in a list
e.g.  list= ["a","b","b"]

out put:  [['b', 2], ['a', 1]],   means b occur 2 times, and a occurs 1 times

# Loop over your list and print all elements that are of size 3

mylist = [[1,2,3],[4,5,6,7],[8,9,10]]

practice by creating differetn list of list both in numbers and string to perform the loop operation

# How to combine list of list items

list = [[1,2],[3,4],[5,6]]

output: [1, 2, 3, 4, 6]

# Excercise: this is your list: my_list = ['p','r','o','g','r','a','m','i','z']

Please print: 1. Elements 3rd to 5th, 2. Elements beginning to 4th, 3. Elements 6th to end, 4. Elements beginning to end

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [179]:
print(range(15))

range(0, 15)

In [180]:
range(3,10,2)

range(3, 10, 2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
3
4
5

# Set
=====

Python also provides the `set` data structure, which can be created using curly brackets.

# Intersection, Union , symmetric difference of two sets

<hr><font color="green"><h1>from file: file_2</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

In [ ]:
my_list = ['p','r','o','g','r','a','m','i','z']
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])
#my_list

__Range__

The `range()` built-in function creates a list of integers, and is used a lot in Python because the `for` loop operates over lists.

The simplest way to use the range function is to just specify the number of elements or, in another way of thinking about it, specify the stop value:

In [ ]:
print(range(15))

In [ ]:
range(3,10,2)

# **Excercise:**
how we can create a list of integers [2, 4, 6, 8] using range  ?

output: 
2
4
6
8
other list: 
3
4
5

In [ ]:
for i in range(2,10,2):
    list=[print(i)]
    list

# Set
=====
Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
****Unordered means that the items in a set do not have a defined order.****
    **Set items can appear in a different order every time you use them, and cannot be referred to by index or key.**
***Set items are unchangeable, meaning that we cannot change the items after the set has been created.**
    **Once a set is created, you cannot change its items, but you can remove items and add new items.**
    
**Duplicates Not Allowed**

Sets cannot have two items with the same value.
* Note: Set items are unchangeable, but you can remove items and add new items.

Python also provides the `set` data structure, which can be created using curly brackets.

# How to create sets of integer number and string

In [ ]:
a = {1, 2, 3, 4}
a

In [ ]:
 string_set= {"apple", "banana", "cherry"}
string_set

# Duplicate values will be ignored, create a set by duplicating some values

In [ ]:
string_set= {"apple", "banana", "cherry", 'apple'}
string_set

In [ ]:
a = {1, 2, 3, 4, 1}
a

# How Get the Length of a Set?

To determine how many items a set has, use the len() function.

In [ ]:
a = {1, 2, 3, 4, 1}
len(a)

# What is Set Items - Data Types? how to find the types of set ? Create 3 different sets of string, numbers and true false.

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False} 
#type(set1)
#type(set2)
type(set3)

# Can a set can contain different data types: e.g. set= {1, 'a', "kk", 3.4}
# set of mixed datatypes

In [ ]:
set1 = {"abc", 34, True, 40, "male", 3.4} 
set1

# What will be the output???????

In [ ]:
list={1,2,3,4,5,2,9,2,3,4}
list
len(list)
#type(list)

# duplicate item are removed, e.g. list={1,2,3,4,5,2,9,2,3,4} output= {1,2,3,4,5,9}

#### type(a)

In [ ]:
b = {2, 3, 4, 5}
b.add(3)
b

# How to add item in a set via add()

In [ ]:
a.add(10)
a

# Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.
We can do this with operators or methods.

# Intersection, Union , symmetric difference of two sets using opeartor, please perform on integer, character and string set

In [ ]:
a & b  # Intersection

In [ ]:
a | b # Union

In [ ]:
a ^ b # symmetric difference

In [ ]:
a - b

# All the above opeation using function

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# How to use union Method

In [ ]:
# use union function
 #A.union(B)
A.union(B)
# use union function on B
#B.union(A)

# How to use intersection method

In [ ]:
A.intersection(B)
# use intersection function on B
#B.intersection(A)

# How to use difference function

In [ ]:
# use difference function on A
A.difference(B)


# use - operator on B
#B - A


# use difference function on B
#B.difference(A)

# How to use symatric_difference function

In [ ]:
# use symmetric_difference function on A
A.symmetric_difference(B)

# use symmetric_difference function on B
#B.symmetric_difference(A)

# Exercise: set={1,2,'3','ad',"ok",(3,4,5)}, how many item will be there in the set, and will be length of the set

In [ ]:
set={1,2,'3','ad',"ok",(3,4,5)}
set

In [ ]:
len(set)

# Excercise: a={}, can we create this type of set ?How many item will be there in this set

In [ ]:
a={}
type(a)

# if you write set={}, remember that a dictionary will be created not a set , please practice it

# How to remove set item by discard(), practice it by using different sets

In [ ]:
a= {1,2,3,4,5}
a.discard(4)
a

# what will be the answer: a={1,2,3,4,5}     b={4,5,6,7,8}
#a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a|b
#a.union(b)
#b.union(a)
#a&b
#a.intersection(b)
#a^b

# The set() Constructor

It is also possible to use the set() constructor to make a set.

# Home work, using the set () constructor , convert the following into set
numbers_list = [1, 2, 3, 4, 5, 5, 3, 2]

numbers_tuple = (1, 2, 3, 4, 5, 5, 4, 3)

numbers_dict = {1:'one',2:'two',3:'three'}

mystr = 'Hello World'

# Excercise: How to delete all item from the set?

In [ ]:
set1= {1,2,3,4}
#set1.clear()
set1

# poping item from set

In [ ]:
set1.pop()
set1

# Set Membership Test: how to test wheathe a member exist in the set or not

We can test if an item exists in a set or not, using the in keyword.

In [ ]:
set1={2,4,5,6,7,8}
print(4 in set1)

# we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

# Homework: Please perform the following operation on set
Important set operation

Method
					Description
			
add()
					Adds an element to the set
			
clear()
					Removes all elements from the set
			
copy()
					Returns a copy of the set
			
difference()
					Returns the difference of two or more sets as a new set
			
difference_update()
					Removes all elements of another set from this set
			
discard()
					Removes an element from the set if it is a member. (Do nothing if the element is not in set)
			
intersection()
					Returns the intersection of two sets as a new set
			
intersection_update()
					Updates the set with the intersection of itself and another
			
isdisjoint()
					Returns True if two sets have a null intersection
			
issubset()
					Returns True if another set contains this set
			
issuperset()
					Returns True if this set contains another set
			
pop()
					Removes and returns an arbitrary set element. Raises KeyError if the set is empty
			
remove()
					Removes an element from the set. If the element is not a member, raises a KeyError
			
symmetric_difference()
					Returns the symmetric difference of two sets as a new set
			
symmetric_difference_update()
					Updates a set with the symmetric difference of itself and another
			
union()
					Returns the union of sets in a new set
			
update()
					Updates the set with the union of itself and others


## Dictionaries
============

If you're familiar with the computer science "hash" or "map" data structures, a dictionary is essentially the Python equivalent of those.

For those unfamiliar with Python dictionaries, we can use an actual dictionary as a mental model.  In a dictionary you have words, and those words have definitions that are associated with them. You might have multiple definitions, but they are all associated with one word's entry in the dictionary.

This maps to the data structure very well: each entry is a key-value pair, where the keys are the words, and the values are the definitions.  If there are multiple definitions, you might instead have a list of definitions instead of a single definition for the value, but the idea is the same.

So in Python we can create an empty dictionary with a pair of braces (curly brackets):

# How to create simple dictionary, print the type of dictionary, length of dictionary

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
type(pets)

In [ ]:
len(pets)

In [ ]:
pets['dogs']

# How to add element to the dictionary

In [ ]:
animal={'loin':4,'dog':3,'flaw':2,'jaw':5}
#len(animal)
#type(animal)
#animal['flaw']
#animal['dog'] +=3
#animal['jaw']=33
animal['sa']=22
animal

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
pets['dogs'] += 2
pets

In [ ]:
pets['fox'] = 3
pets

In [ ]:
pets['dogs']= 4
pets

# What if we try to add a key value pair whose key is already present?

# You can ask for the list of keys, of key-value pairs, or just the values.

# How to print keys of the list or dictionary and values of the key

In [ ]:
pets.keys()

In [ ]:
pets.items()

In [ ]:
pets.values()

In [ ]:
a={'10':1,'20':2,'30':3,'40':4,'50':5}
a['60']=6
#a.keys()
#a.items()
#a.values()
#'20' in a
#2 not in a

In [ ]:
pets

# To find weather a key is present in dictionary or not

In [ ]:
'cats' in pets

In [ ]:
'cats' not in pets

In [ ]:
students={}

In [ ]:
type(students)

### Accessing items with `get()`

You can instead access values with the `get()` method which has a little more capability.  Get returns the value associated with a key, like indexing, but if the key doesn't exist it doesn't raise an error, but instead returns a default value `None`.

In [ ]:
#student['3']

In [ ]:
print (student.get('3'))

In [ ]:
students={}
students['1']="Zaviyar"
students["2"]='amir'
students['3']="khattak"
students["4"]='Rovaid'
students

In [ ]:
#students['5']
print(students.get('2','yes'))
#print(students.get('7','yes'))

# how we can show list of dictionary function??? please explore some of them

# We can have a dictionary inside a dictionary

In [ ]:
college = {'name': "COMSATS", "students":student}
college

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
x=thisdict['model']
print(x)
print(thisdict.get('year'))
thisdict["year"]= 2000
thisdict

In [ ]:
newdic= dict(brand1= 'ford' ,model='janpan',year='20000')
newdic

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.values()
car.get("model")
print(car["model"])

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#print(thisdict)
#for x in thisdict:
 #   print(thisdict[x])
    
#for x in thisdict.values():
 #   print(x)
for x,y in thisdict.items():
    print(x,y)
thisdict.pop("model")
thisdict
thisdict['model1']="yoho"
thisdict
thisdict.popitem()
thisdict

## Mathematical Operations
-----------------------
By now, we're pretty use to lists being the workhorse sequential data structure in Python. It's great for many things, but it turns out that another data structure, the NumPy array, provides a different set of functionality that is really useful -- especially for numeric computations.

Here we start with a list, and illustrate the difference in syntax for mathematical operations on a list and an array.

Imagine you want to add 1 to every element in a sequence. Here is a comparison between doing this with an array and a list.

Let's look at a list

In [ ]:
a = [1, 2, 3, 4]
a

If you add 1 to a list, you get an error because you can't add list and int types.

In [ ]:
#a+5
a.insert(2,8)
a

# How to add 1 to each element of the list

In [ ]:
a = [1, 2, 3, 4]
[x +1 for x in a]

This will work, but it is a bit cryptic to the uninitiated:

#### List Comprehension

In [ ]:
[val + 1 for val in a]

### Numpy - arrays
But if we convert `a` to a NumPy `array`, then it does work:

# How to convert a list into numpy array? please perform converting integer list, string list, mixed list into respective Numpy-array

In [ ]:
import numpy as np 
a = np.array(a)

In [ ]:
a

# Excercise: How to change the array element? e.g. if array= ([1, 2, 3, 4]) 
output: ([6, 7, 8, 9])

In [ ]:
a+5

This is the first thing that the array provides: when you perform a mathematical operation on an array, the operation is performed on every element of the array.  So the result is 1+5 is 6, 2+5 is 7, 3+5 is 8 and 4+5 is 9.

Operations on two Arrays
------------------------

NumPy always carries out element-by-element operations when operating on two arrays.  Here are several examples with `+`,`*`, and `**` operators.

Let's create another array `b`:

# How to create array

In [ ]:
b = np.array([2, 3, 4, 5])
b

# Creating two array a, b and then performing 
a+b
a*b
a**a
Operations on arrays
Note: Take array with different length

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
b=[3,4,5,6]
b=np.array(b)

In [ ]:
a
b

# Excercise: What will be the ouput?

In [ ]:
a+b
#a*b
#a**a

They both have 4 elements.  If we add a and b:

In [ ]:
a + b

then the operation is performed element-by-element: 1+2 is 3, 2+3 is 5, 3+4 is 7 and 4+5 is 9.

This doesn't just work for addition.  You can multiply:

In [ ]:
a*b

You can exponentiate:

In [ ]:
a**b

In [ ]:
import numpy as np
a=np.array([2,3,4,5])
a

# How to find sum, standard deviation, mean of array element

In [ ]:
#np.sum(a)
#np.std(a)
#np.mean(a)
#np.argmax(a)

All operations are performed element-by-element.

In [ ]:
np.sum(a)

In [ ]:
np.std(a)

In [ ]:
np.mean(a)

# How to create 2-d array randomly within a fixed range and predifined rows and colums

In [ ]:
import numpy as np
np.random.seed(0)
x1= np.random.randint(10,size=(3,4))
x1

In [ ]:
import numpy as np
myarray=np.array([[1,2,3],[4,5,6]])
print(myarray)

In [ ]:
import numpy as np
np.zeros((3,4))
#np.ones((3,4))
#np.random.random((2,2))
#np.empty((2,3))
#np.full((2,3),3)
#np.arange(10,25,5)
#np.linspace(0,2,9)

In [ ]:
np.ones((3,4))

In [ ]:
np.random.random((2,2))

In [ ]:
np.empty((2,3))

In [ ]:
np.full((2,3),3)

# start, stop, step (excluding end point)

In [ ]:
np.arange(10,25,5)

# start , stop number of intervel to be genrated

In [ ]:
np.linspace(0,2,9)

# Reshaping the original array

In [ ]:
import numpy as np
a=np.arange(15).reshape(3,5)
a

In [ ]:
#a.shape
#a.dtype.name
#a.ndim # dimension
a.itemsize # length or one array element in bytes

# How to sum array element, find the maximum and minimum element in the array

In [ ]:
import numpy as np
a= np.arange(6)
a
a.sum()
a.min()
a.max()

In [ ]:
import numpy as np
b= np.arange(12).reshape(3,4)
b

In [ ]:
import numpy as np
c=np.arange(24).reshape(2,3,4)
c

In [ ]:
import numpy as np
a= np.array([1,2,3,4])
list=[3,4,5,6]
b=np.array(list)
a
b

In [ ]:
a+b

In [ ]:
(a+b).sum()

In [ ]:
a=np.arange(10)
a
b=np.arange(10)**3
b

In [ ]:
b[2:5]
b[:8]
b[-1]
b[:-2]
b[0:-5]

In [ ]:
b[:6]=100
b

In [ ]:
b[::-1]

In [ ]:
def f (x,y):
    return 10*x+y

b=np.fromfunction(f,(5,4))
b

#### Numpy arrays - more examples later

[Back To The Table of Contents](#TOC)

<hr><font color="green"><h1>from file: file_3</h1></font>

# Introduction to Python


## A Quick tour of Python
========================

In this notebook, we will cover a wide variety of topics about the Python language to give you a broad overview of the data structures it offers, some use cases for them and the kinds of tasks they can be used for.

<a id="TOC"></a>
# Table of Contents

# A. [Basics](#Basics)
# B. [Python Common Data Structures](#PCDS)
# C. [Conditional Statements](#Conditional_Statements)                      				
# D. [Functions](#Functions)     
# E. [Classes](#Classes)
# F. [Python for General Purpose Tasks](#PGPT)
# G. [Excercises](#Excercises)

[Back To The Table of Contents](#TOC)

<a id="Conditional_Statements"></a>
## Conditional Statements
-------------

### If statements

The simplest sort of way of controlling execution is to decide whether or not
a particular piece of code should be executed or not, based upon some
condition.  This could include:

* computing a particular value for a function in the special case e.g. where
  `x = 0`

* testing if an input is good, and only computing values if it is

* executing different pieces of code depending on a command string read from a file
  
In each of these cases, we execute the code *if* some condition holds, so the
statement in Python (and many other languages) that lets us do this is called the `if` statement.

In Python, `tab` is used as an indentation of block of code

The simplest form of the `if` statement looks like this:

In [108]:
x = 0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
else:
    print('try again')
    print('okkkk')
print('that s good')

Hey!
x is positive
that s good

In [109]:
if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

Hey!
x is positive
This is still part of the block
This isn't part of the block, and will always print.

In [110]:
x = -0.5

if x > 0:
    print ("Hey!")
    print ("x is positive")
    print ("This is still part of the block")
print ("This isn't part of the block, and will always print.")

This isn't part of the block, and will always print.

In [111]:
x = 0

if x > 0:
    print ("x is positive")
elif x == 0:
    print ("x is zero")
else:
    print ("x is negative")

x is zero

In [ ]:
# to check the elements in the list
mylist = [0, 1, 4, 1, 5, 9]
#mylist = []
if mylist:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

In [ ]:
if len(mylist) >= 1:
    print ("The first element is:", mylist[0])
else:
    print ("There is no first element.")

Loops
=======

When programming, you want to be able to repeatedly execute chunks of code
without having to manually duplicate the code.  Being able to repeat a set of
instructions in a controlled manner is perhaps the most important function of any
sort of automation, and being able to write code to execute something a
million times as easily as writing code to execute something three times is
important.

Python implements a number of looping constructs, and in this lecture we'll
discuss the `while` loop and the `for` loop.

While loop
----------

The `while` loop is the simplest form of loop in Python.  It is similar to an `if`
statement, in that it evaluates a test which evaluates to `True` or `False`.
Unlike the `if` statement, however, a `while` statement doesn't just execute the following
block of code once, it executes it over and over, re-evaluating the test
before each repetition.  When the test evaluates to `False`, the loop will stop
executing, and execution will continue with the next section of code.  Just
like the `if` statement, indentation determines which lines of code are
associated with the `while` statement.

A simple example of a `while` loop might look something like this:

In [112]:
i = 0
total = 0
while i < 100:
    total += i
    i += 1
print (total)

4950

'For' loop
===

In [113]:
for i in range(5):
    print (i)

0
1
2
3
4

In [114]:
line = '1 2 3 4 5'
fields = line.split()
fields

['1', '2', '3', '4', '5']

In [115]:
fields = [1,2,3,4,5]
total = 0
for field in fields:
    total += field
total

15

In [116]:
fields = [1,2,3,4,5]
sum=0
for i in fields:
    sum= sum + i
print (sum)
avg= sum/len(fields)
avg

15

3.0

In [ ]:
#   Calcuate the average of above list ???

### List Comprehension

Python also has what is called a list comprehension, which is a compact way of writing many loops.

In [117]:
numbers = [int(kk) for kk in fields]
numbers

[1, 2, 3, 4, 5]

In [118]:
h_letter=[]
for letter in "Zaviyar Khattak":
    h_letter.append(letter)
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r', ' ', 'K', 'h', 'a', 't', 't', 'a', 'k']

In [119]:
h_letter=[letter for letter in 'Zaviyar']
print(h_letter)

['Z', 'a', 'v', 'i', 'y', 'a', 'r']

In [120]:
lst = [10, 21, 4 , 7, 12]

[num*num for num in lst if num > 10]

[441, 144]

**Excercise:**
Calculate the Square of the lst1[10, 21, 4, 7, 12] greater than equal to 10  using list comprehension ?

In [ ]:
# To Do

### Break and Continue

Both for and while statements can have the flow modified with the `break` and
`continue` statements.

If execution hits a `continue` statement, then the execution will jump
immediately to the start of the next iteration of the loop.  This is useful if
you want to skip occasional values:

Lets print even elements from the given list

In [ ]:
values = [7, 6, 4, 7, 19, 2, 1]

for i in values:
    if i % 2 != 0:
        # skip odd numbers
        continue
    print (i)

Print the elements of the list until you encounter 'stop'.

In [ ]:
command_list = ['start', 'process', 'process', 'process', 'stop', 'start', 'process', 'stop']

while command_list:
    command = command_list.pop(0)
    if command == 'stop':
        break
    print(command)

[Back To The Table of Contents](#TOC)

<a id="Functions"></a>
# Functions
========

In [122]:
def add(x,y):
    """ Add two values"""
    a = x+y
    return a

In [123]:
print (add(2,3))

5

# Excersie: what will be the output

In [ ]:
print (add('a',2))

In [124]:
print (add('foo','bar'))

foobar

In [125]:
print (add([1,2,3],[4,5,6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
print (add('abc',1)) # if passed parameter which can't be added, it will return an exception

#### Function arguments with default values

In [126]:
def add_w_default(x, y = 10):
    return x+y

In [127]:
add_w_default(20)

30

In [128]:
add_w_default(20, 30)

50

In [129]:
add_w_default(y=20, x = 10)

30

It's an advanced concept that you will often encounter in production level libraries

- definition of kwargs

In [130]:
# A function can accept arbitrary keyword argument using the following syntax
def add(x, **kwargs):
    print (type(kwargs))
    total = x
    for arg,value in kwargs.items():
        print ('adding ', arg)
        total += value
    return total

In [131]:
print (add(10, y = 11, z = 12, w=13, p =11))

<class 'dict'>
adding  y
adding  z
adding  w
adding  p
57

In [132]:
# The following syntax accepts any number of positional and keyword arguments
def foo(*args, **kwargs):
    print (args, kwargs)

In [ ]:
foo(2,3, x='foo', z=10)

[Back To The Table of Contents](#TOC)

<a id="Classes"></a>
## Classes
=======

Now lets create a class. In Python, every class should derive from object. 
Our class will describe a person, with a name and an age. We will supply a constructor, and 
a method to get the full name.

# Create a Class

To create a class, use the keyword class:

In [133]:
class MyClass:
  x = 5

# Create Object

Now we can use the class named MyClass to create objects:

In [134]:
p1 = MyClass()
print(p1.x)

5

# The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

# Example

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person(object):
    def __init__(self, first, last, age):
        self.first = first
        self.last = last
        self.age = age
    
    def full_name(self):
        return self.first + ' ' + self.last

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Zaviyar", 7)

print(p1.name)
print(p1.age)

# Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

# The self Parameter

**Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

**The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

**It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Zaviyar", 6)
p1.myfunc()

In [ ]:
class Man:
    def __init__(self, first, last, age):
        self.first=first
        self.last=last
        self.age=age
    def full_name(self):
        return self.first + ' ' + self.last + ' ' + self.age

In [ ]:
man= Man('khattak', ' Abrar', 44)
print(man.first)
print(man.age)

# Excersie:

**Modify Object Properties
**Delete Object Properties
**Delete Objects
**The pass Statement

Now we can create an instance of a Person, and work with the attributes of the class.

[Back To The Table of Contents](#TOC)

<a id="PGPT"></a>
# Python for General purpose task

python has many utility functions and libraries
including
os, os.path, time, shutil, urlib, datetime, etc.

In [135]:
import os
os.listdir(os.getcwd()) # Python method getcwd() returns current working directory of a process.
#os.listdir() # Python method listdir() returns a list containing the names of the entries in the directory given by path. The list is in arbitrary order.
#notebookfiles = [x for x in os.listdir(os.getcwd()) if x.endswith('.ipynb')]
#notebookfiles

#os.getcwd() # Python method getcwd() returns current working directory of a process. 
#os.chdir() #os.chdir() method in Python used to change the current working directory to specified path. It takes only a single argument as new directory path.

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '2. Majorit Class Overlapping .ipynb',
 '2.1 Intro_to_Python-stu.ipynb',
 '2.2 DA_With_Pandas.ipynb',
 '2.2 DA_With_Pandas_in_session.ipynb',
 '2.2 DA_With_Pandas_sol.ipynb',
 '2.3 Python-Plots.ipynb',
 '3.2 Practical-machine-learning.ipynb',
 '3.3 AdvML-Full.ipynb',
 '3D Objects',
 'Abalone.csv',
 'anaconda3',
 'AppData',
 'Application Data',
 'BSDS-Class-0.ipynb',
 'BSDS-Class-0C.ipynb',
 'BSDS-Class1.ipynb',
 'BSDS-Class1C.ipynb',
 'BSDS-Class_4 C.ipynb',
 'BSDS-Class_4.ipynb',
 'BSDS-Class_5C.ipynb',
 'BSDS-Class_6C.ipynb',
 'BSDS_Class_2.ipynb',
 'chipotle.tsv',
 "console.log('..............');.js",
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Empirical comparsion using Glass.ipynb',
 'Favorites',
 'imdb_1000.csv',
 'IntelGraphicsProfiles',
 'iris.csv',
 'iris_1.csv',
 'Iris_new.csv',
 'Links',
 'Local Settings',
 'MachineLearningInExcel.xlsx',
 'movieusers.tsv',
 'MS_Class_0.ipynb',
 'MS_Class_1.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Recoverd files',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Technicle discusion.ipynb',
 'Templates',
 'ufo.csv',
 'Videos']

In [ ]:
import time
time.sleep(3)
print ('sleep for seconds: 3 s')

In [ ]:
print (time.ctime())

In [ ]:
import urllib
#response = urllib.('http://python.org/')
#html = response.read()
import urllib.request
 
#html = urllib.request.urlopen('https://artifex.org/~hblanks/talks/2011/pep20_by_example.py.txt').read()
#print (html)

Now lets see how we can work with files in Python. We will start by creating a directory using some commands you can do in IPython.

In [136]:
cd ~

C:\Users\celll spot

In [137]:
mkdir demo_temp

In [138]:
cd demo_temp

C:\Users\celll spot\demo_temp

Now we will create a file, and write a couple of lines of data to it.

In [139]:
file = open('data.txt', 'w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

In [140]:
file= open("example.txt",'w')
file.write("this is line one\n")
file.write("this is line two\n")
file.write("this is line three\n")
file.writelines("this is line four\n")
file.writelines("this is line five\n")
file.close()

In [142]:
file= open("example.txt", "r")
#print(file.readline())
print(file.readlines(3))

['this is line one\n']

In [143]:
print(file.readlines())

['this is line two\n', 'this is line three\n', 'this is line four\n', 'this is line five\n']

In [144]:
file=open("example.txt",'w')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [145]:
file=open("example.txt",'w')

file.write("line 9\n")
file.write("line 10\n")
file.write("line 11\n")
file.close()

In [146]:
file=open("example.txt",'a+')

file.write("line 6\n")
file.write("line 7\n")
file.write("line 8\n")
file.close()

In [148]:
file=open("example.txt","r")
#for val in file:
 #   print(val)
for row in file:
    print(row)

line 9

line 10

line 11

line 6

line 7

line 8

In [149]:
file= open('example.txt','w')
file.write('1 2 3 4\n')
file.write('2 3 4 5\n')
file.close()

Now we can re-open the file, and do some processing on it.

In [150]:
file = open('data.txt')
data = []
for line in file:
    data.append([int(field) for field in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [151]:
file= open('example.txt')
data=[]
for line in file:
    data.append([int(d) for d in line.split()])
data

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [152]:
file=open("example.txt",'w')
file.write('1 2 3 4, 5\n')
file.write('2,3,4,5, 6\n')
file.close()

In [153]:
file= open('example.txt')
newdata=[]
for val in file:
    newdata.append([int(field) for field in val.split(',')])
print(newdata)

ValueError: invalid literal for int() with base 10: '1 2 3 4'

In [ ]:
for row in data:
    print (row)
    #print row

Now we will clean up this file.

In [ ]:
file.close()

In [ ]:
import os
os.remove('data.txt')

In [ ]:
cd ..

In [ ]:
os.rmdir('demo_temp')

Now we will take a look at modules. Python provides a whole host of built-in modules. We will explore the os module, which provides operating system information.

In [ ]:
import os
os.getpid() #os.getpid() method in Python is used to get the process ID of the current process.

In [ ]:
unique = []
file=open('test.txt', 'r')
s= file.read()
for w in s.split():
    unique.append(w)
print(unique)
len(unique)

In [ ]:
file= open('test.txt', 'r')
numwords=0
for line in file:
    words= line.split()
    numwords += len(words)
    print(words)
numwords
#print(words)

In [ ]:
coutn={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in coutn.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count={}
file= open('test.txt', 'r')
s= file.read()
for word in s.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] =1
print(count)

In [ ]:
count = {}
for w in open('test.txt').read().split():
    if w in count:
        count[w] += 1
    else:
        count[w] = 1
for word, times in count.items():
    print ("%s was found %d times" % (word, times))

In [ ]:
file=open("test.txt","r+")

wordcount={}

for word in file.read().split():
    if word not in wordcount:
        wordcount[word] = 1
    else:
        wordcount[word] += 1

for k,v in wordcount.items():
    print (k, v)

In [ ]:
file= open('test.txt')
count=[]
s= file.read()
d=s.lower()
wordcount=0
for word in d.split():
    count.append(word)
print(len(count))

In [ ]:
count={}
file= open('test.txt')
s= file.read()
d=s.lower()
for word in d.split():
    if word in count.keys():
        count[word] +=1
    else:
        count[word] = 1
    
#print(count)
#for k,v in count.items():
   # print(k,v)
#sorted(count.values())
#sorted(count.items(), key=lambda items:items[1])
new=[pair[0] for pair in sorted(count.items(), key=lambda items:items[1])]
nnew= ' '.join(new)
nnew

#[pair[0] for pair in sorted(d.items(), key=lambda item: item[1])]

file=open('freq.txt', 'w')
file.write(nnew)
file.close()
#list1.append(line.strip(','))

[Back To The Table of Contents](#TOC)

<a id="Excercises"></a>
# Excercises